In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.max_columns', 30)

## Defining an aggregation
#### All grouping operation have those three components: the grouping columns, aggregating columns, and aggregating functions.
#### Here we'll look at the simplest possible aggregation  a single grouping column, a single aggregating column, and a single aggregating function. We will find the average arrival delay for each airline.

In [2]:
flights = pd.read_csv('master/data/flights.csv')
flights.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0

In [3]:
flights.groupby('AIRLINE').agg({'ARR_DELAY':'mean'})
# This returns a single column DF

         ARR_DELAY
AIRLINE
AA        5.542661
AS       -0.833333
B6        8.692593
DL        0.339691
EV        7.034580
F9       13.630651
HA        4.972973
MQ        6.860591
NK       18.436070
OO        7.593463
UA        7.765755
US        1.681105
VX        5.348884
WN        6.397353

In [152]:
# Exploration of the index and columns, to complete

ind_exp = flights.groupby('AIRLINE').agg({'ARR_DELAY':'mean'})

# Comme tout DF, il est composé d'un index qui à un nom

ind_exp.index

Index(['AA', 'AS', 'B6', 'DL', 'EV', 'F9', 'HA', 'MQ', 'NK', 'OO', 'UA', 'US',
       'VX', 'WN'],
      dtype='object', name='AIRLINE')

In [5]:
# d'un index horizontal (columns)

ind_exp.columns

Index(['ARR_DELAY'], dtype='object')

In [6]:
# Et de valeurs

ind_exp.values

array([[ 5.54266055],
       [-0.83333333],
       [ 8.69259259],
       [ 0.33969067],
       [ 7.0345796 ],
       [13.63065134],
       [ 4.97297297],
       [ 6.86059143],
       [18.43606999],
       [ 7.59346304],
       [ 7.76575521],
       [ 1.68110483],
       [ 5.34888438],
       [ 6.39735259]])

In [7]:
# Alternatively
flights.groupby('AIRLINE')['ARR_DELAY'].agg('mean')
# This syntax returns a Series

AIRLINE
AA     5.542661
AS    -0.833333
B6     8.692593
DL     0.339691
EV     7.034580
F9    13.630651
HA     4.972973
MQ     6.860591
NK    18.436070
OO     7.593463
UA     7.765755
US     1.681105
VX     5.348884
WN     6.397353
Name: ARR_DELAY, dtype: float64

In [8]:
ind_exp2 = flights.groupby('AIRLINE')['ARR_DELAY'].agg('mean')
ind_exp2.index

Index(['AA', 'AS', 'B6', 'DL', 'EV', 'F9', 'HA', 'MQ', 'NK', 'OO', 'UA', 'US',
       'VX', 'WN'],
      dtype='object', name='AIRLINE')

In [9]:
ind_exp2.values

array([ 5.54266055, -0.83333333,  8.69259259,  0.33969067,  7.0345796 ,
       13.63065134,  4.97297297,  6.86059143, 18.43606999,  7.59346304,
        7.76575521,  1.68110483,  5.34888438,  6.39735259])

In [10]:
flights.groupby('AIRLINE')['ARR_DELAY'].agg(np.mean).head()

AIRLINE
AA    5.542661
AS   -0.833333
B6    8.692593
DL    0.339691
EV    7.034580
Name: ARR_DELAY, dtype: float64

In [11]:
# When you are only applying a single aggregating function, we can also use directly methods of the groupby object.
# Not all aggregation functions have a method equivalent but many basic ones do.
flights.groupby('AIRLINE')['ARR_DELAY'].mean().head()

AIRLINE
AA    5.542661
AS   -0.833333
B6    8.692593
DL    0.339691
EV    7.034580
Name: ARR_DELAY, dtype: float64

In [12]:
# If you do not use an aggregating function with agg, pandas raises an exception.
# flights.groupby('AIRLINE')['ARR_DELAY'].agg(np.sqrt)

## Grouping and aggregating with multiple columns and functions
#### We'll answering the following queries:
    - Finding the number of cancelled flights for every airline per weekday
    
    - Finding the number and percentage of cancelled and diverted flights for every airline per weekday
    
    - For each origin and destination, finding the total number of flights, the number and percentage of cancelled flights,
      and the average and variance of the airtime

In [13]:
flights.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0

In [14]:
# Finding the number of cancelled flights for every airline per weekday

flights.groupby(['AIRLINE', 'WEEKDAY'])['CANCELLED'] \
       .agg('sum').head(21)

# As there is only one aggregating column AND only one aggregating function, a Series is returned

AIRLINE  WEEKDAY
AA       1          41
         2           9
         3          16
         4          20
         5          18
         6          21
         7          29
AS       1           0
         2           0
         3           0
         4           0
         5           0
         6           0
         7           0
B6       1           0
         2           1
         3           0
         4           0
         5           0
         6           0
         7           0
Name: CANCELLED, dtype: int64

In [15]:
# Notons que notre Series a à présent un index composé d'un MultiIndex à 2 levels

gb_insp = flights.groupby(['AIRLINE', 'WEEKDAY'])['CANCELLED'] \
                 .agg('sum').head(21)

gb_insp.index

MultiIndex(levels=[['AA', 'AS', 'B6', 'DL', 'EV', 'F9', 'HA', 'MQ', 'NK', 'OO', 'UA', 'US', 'VX', 'WN'], [1, 2, 3, 4, 5, 6, 7]],
           labels=[[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2], [0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6]],
           names=['AIRLINE', 'WEEKDAY'])

In [16]:
# Finding the number and percentage of cancelled and diverted flights for every airline per weekday

flights.groupby(['AIRLINE', 'WEEKDAY']) \
        ['CANCELLED', 'DIVERTED'].agg(['sum', 'mean']).head(21)

# As there are more than one aggregating column AND/OR more than one aggregating function, a DF is returned

                CANCELLED           DIVERTED
                      sum      mean      sum      mean
AIRLINE WEEKDAY
AA      1              41  0.032106        6  0.004699
        2               9  0.007341        2  0.001631
        3              16  0.011949        2  0.001494
        4              20  0.015004        5  0.003751
        5              18  0.014151        1  0.000786
        6              21  0.018667        9  0.008000
        7              29  0.021837        1  0.000753
AS      1               0  0.000000        0  0.000000
        2               0  0.000000        0  0.000000
        3               0  0.000000        0  0.000000
        4               0  0.000000        0  0.000000
        5               0  0.000000        0  0.000000
        6               0  0.000000        0  0.000000
        7               0  0.000000        0  0.000000
B6      1               0  0.000000        0  0.000000
        2               1  0.012658        0  0.000000
        3               0  0.000000        0  0.000000
        4               0  0.000000        0  0.000000
        5               0  0.000000        0  0.000000
        6               0  0.000000        1  0.016667
        7               0  0.000000        1  0.011364

In [17]:
# Notons que notre DF a un index et des columns tous 2 composés de MultiIndex à 2 levels:

gpDF_insp = flights.groupby(['AIRLINE', 'WEEKDAY']) \
        ['CANCELLED', 'DIVERTED'].agg(['sum', 'mean']).head(21)

gpDF_insp.columns

MultiIndex(levels=[['CANCELLED', 'DIVERTED'], ['sum', 'mean']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [18]:
# For each origin and destination, finding the total number of flights, the number
# and percentage of cancelled flights, and the average and variance of the airtime

group_cols = ['ORG_AIR', 'DEST_AIR']
agg_dict = {'CANCELLED':['sum', 'mean', 'size'],
            'AIR_TIME':['mean', 'var']}
flights.groupby(group_cols).agg(agg_dict).tail(7)

# Notice that the size aggregating function returns the total number of rows per group, which is
# different from the count aggregating function, which returns the number of non-missing values per group.

                 CANCELLED                   AIR_TIME
                       sum      mean size        mean         var
ORG_AIR DEST_AIR
SFO     SMF              2  0.033898   59   21.052632    8.729323
        SMX              1  0.071429   14   40.846154    3.641026
        SNA              4  0.032787  122   64.059322   11.338331
        STL              0  0.000000   20  198.900000  101.042105
        SUN              0  0.000000   10   78.000000   25.777778
        TUS              0  0.000000   20  100.200000   35.221053
        XNA              0  0.000000    2  173.500000    0.500000

In [19]:
# Test perso
flights.query(" ORG_AIR =='SFO' and DEST_AIR =='STL' ")

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
1402,1,9,5,OO,SFO,STL,1610,147.0,204.0,1735,2158,142.0,0,0
1941,1,13,2,OO,SFO,STL,1610,151.0,222.0,1735,2158,169.0,0,0
6333,2,9,1,OO,SFO,STL,1610,41.0,183.0,1735,2158,17.0,0,0
13360,3,22,7,WN,SFO,STL,945,-1.0,194.0,1735,1535,-23.0,0,0
16042,4,6,1,WN,SFO,STL,945,-4.0,192.0,1735,1535,-29.0,0,0
19412,4,25,6,WN,SFO,STL,800,-3.0,194.0,1735,1350,-22.0,0,0
25745,5,30,6,WN,SFO,STL,800,-2.0,205.0,1735,1350,-3.0,0,0
32510,7,6,1,WN,SFO,STL,1035,40.0,220.0,1735,1625,46.0,0,0
33376,7,10,5,UA,SFO,STL,1100,4.0,199.0,1735,1703,-16.0,0,0
34262,7,15,3,UA,SFO,STL,1100,0.0,203.0,1735,1703,-9.0,0,0
43879,9,5,6,OO,SFO,STL,1635,-6.0,196.0,1735,2239,-24.0,0,0
45309,9,14,1,OO,SFO,STL,1655,-8.0,208.0,1735,2259,-18.0,0,0
45939,9,17,4,UA,SFO,STL,1052,-1.0,187.0,1735,1650,1.0,0,0
46108,9,18,5,UA,SFO,STL,1052,18.0,192.0,1735,1650,12.0,0,0
46536,9,21,1,WN,SFO,STL,1140,-4.0,193.0,1735,1720,-2.0,0,0
50146,11,11,3,WN,SFO,STL,1330,3.0,187.0,1735,1910,-15.0,0,0
51860,11,21,6,OO,SFO,STL,1705,25.0,204.0,1735,2256,28.0,0,0
55535,12,14,1,UA,SFO,STL,1045,-5.0,194.0,1735,1629,-5.0,0,0
56319,12,18,5,WN,SFO,STL,1330,108.0,200.0,1735,1910,122.0,0,0
57055,12,23,3,UA,SFO,STL,1059,-1.0,201.0,1735,1649,-9.0,0,0

### TM

In [20]:
# If you do not specify the aggregating columns, then the aggregating method will be applied to all the non-grouping columns:

flights.groupby(['ORG_AIR', 'DEST_AIR']).sum().head()

                  MONTH  DAY  WEEKDAY  SCHED_DEP  DEP_DELAY  AIR_TIME   DIST  \
ORG_AIR DEST_AIR
ATL     ABE         167  519      132      46567      298.0    2988.0  21452
        ABQ          98  189       62      25426      113.0    2728.0  20304
        ABY         136  345       87      31253      427.0     543.0   2755
        ACY          40   72       11       8972       43.0     548.0   4074
        AEX         275  627      160      59674      440.0    3149.0  20000

                  SCHED_ARR  ARR_DELAY  DIVERTED  CANCELLED
ORG_AIR DEST_AIR
ATL     ABE           52916      185.0         0          0
        ABQ           27960        4.0         0          0
        ABY           32758      391.0         0          0
        ACY           10096       64.0         0          0
        AEX           62361      301.0         0          0

## Removing the MultiIndex after grouping
#### We'll manipulate a DataFrame with a MultiIndex for the rows and columns so that the index becomes a single level and the column names are descriptive.

In [21]:
flights = pd.read_csv('master/data/flights.csv')
flights.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0

In [22]:
airline_info = flights.groupby(['AIRLINE', 'WEEKDAY'])\
                      .agg({'DIST':['sum', 'mean'],
                           'ARR_DELAY':['min', 'max']}) \
                      .astype(int)
airline_info.head(11)

# As we see Pandas displays MultiIndex levels differently than single-level columns.
# Except for the innermost levels, repeated index values do not get displayed on the screen.

                    DIST       ARR_DELAY
                     sum  mean       min  max
AIRLINE WEEKDAY
AA      1        1455386  1139       -60  551
        2        1358256  1107       -52  725
        3        1496665  1117       -45  473
        4        1452394  1089       -46  349
        5        1427749  1122       -41  732
        6        1265340  1124       -50  858
        7        1461906  1100       -49  626
AS      1         121478  1029       -28  145
        2         114681  1081       -38   86
        3         120150  1044       -45  106
        4         122273  1111       -35  344

In [23]:
airline_info.columns

MultiIndex(levels=[['DIST', 'ARR_DELAY'], ['max', 'mean', 'min', 'sum']],
           labels=[[0, 0, 1, 1], [3, 1, 2, 0]])

In [24]:
level0 = airline_info.columns.get_level_values(0)
level0

Index(['DIST', 'DIST', 'ARR_DELAY', 'ARR_DELAY'], dtype='object')

In [25]:
level1 = airline_info.columns.get_level_values(1)
level1

Index(['sum', 'mean', 'min', 'max'], dtype='object')

In [26]:
# Indexes support vectorized operations

airline_info.columns = level0 + '_' + level1
airline_info.head()

                 DIST_sum  DIST_mean  ARR_DELAY_min  ARR_DELAY_max
AIRLINE WEEKDAY
AA      1         1455386       1139            -60            551
        2         1358256       1107            -52            725
        3         1496665       1117            -45            473
        4         1452394       1089            -46            349
        5         1427749       1122            -41            732

In [27]:
# Here we could have concatenated the levels together like we did in step 2, but it makes more sense like this:

airline_info.reset_index().head(3)

  AIRLINE  WEEKDAY  DIST_sum  DIST_mean  ARR_DELAY_min  ARR_DELAY_max
0      AA        1   1455386       1139            -60            551
1      AA        2   1358256       1107            -52            725
2      AA        3   1496665       1117            -45            473

In [ ]:
airline_info.reset_index()

#### By default, at the end of a groupby operation, pandas puts all of the grouping columns in the index. The as_index parameter in the groupby method can be set to False to avoid this behavior. Let's try by finding the average distance traveled per flight from each airline:

In [28]:
flights.groupby(['AIRLINE'], as_index=False)['DIST'].agg('mean') \
                                                    .round(0)

   AIRLINE    DIST
0       AA  1114.0
1       AS  1066.0
2       B6  1772.0
3       DL   866.0
4       EV   460.0
5       F9   970.0
6       HA  2615.0
7       MQ   404.0
8       NK  1047.0
9       OO   511.0
10      UA  1231.0
11      US  1181.0
12      VX  1240.0
13      WN   810.0

## Customizing an aggregation function
#### In this recipe, we use the college dataset to calculate the mean and standard deviation of the colleges undergraduate student population per state. We then use this information to find the maximum number of standard deviations from the mean that any single population value is per state. We will then determine what is the maximum standard deviation that a college population have in each group.

In [29]:
college = pd.read_csv('master/data/college.csv')
college.head()

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

In [30]:
college.groupby('STABBR')['UGDS'].agg(['mean', 'std']) \
                                 .round(0).head(11)

          mean      std
STABBR
AK      2493.0   4052.0
AL      2790.0   4658.0
AR      1644.0   3143.0
AS      1276.0      NaN
AZ      4130.0  14894.0
CA      3518.0   6709.0
CO      2325.0   4670.0
CT      1874.0   2871.0
DC      2645.0   3225.0
DE      2491.0   4503.0
FL      2493.0   7033.0

In [31]:
col_ca_cond = college['STABBR'] == 'CA'
col_ca = college[col_ca_cond]
col_ca_s = col_ca['UGDS']
col_ca_s.mean()

3518.3083969465647

In [32]:
c_s = ((col_ca_s - col_ca_s.mean()) / col_ca_s.std())
c_s.abs().head()

192    0.949039
193    0.449918
194         NaN
195    0.522363
196    0.486737
Name: UGDS, dtype: float64

In [33]:
c_s.abs().max()

6.145228956365477

In [34]:
# For each state group, we will take each population,
# substract the mean of the group and divide this result by the std of the group.
# We don't care wether this number is negative or positive because we just try to determine what is the maximum
# std from the mean we can find in this group.
# So we only consider the absolute value of this result and we determine what is the maximum
# a certain college have in this group.

def max_deviation(s):
    std_score = (s - s.mean()) / s.std()
    return std_score.abs().max()

In [35]:
# Only the function name is passed to the agg groupby method.
# It will automatically pass as a parameter to this function each Series that constitutes each group aggreagting column (here
# only one column 'UGDS'). Finally, one value will be returned for each group and all the values will be summarised
# in a Series.

college.groupby('STABBR')['UGDS'].agg(max_deviation) \
                                 .round(1).head()

STABBR
AK    2.6
AL    5.8
AR    6.3
AS    NaN
AZ    9.9
Name: UGDS, dtype: float64

In [36]:
# Si l'on veut un DF
pd.DataFrame(college.groupby('STABBR')['UGDS'].agg(max_deviation) \
                                 .round(1)).head()

        UGDS
STABBR
AK       2.6
AL       5.8
AR       6.3
AS       NaN
AZ       9.9

#### It is possible to apply our customized function to multiple aggregating columns. We simply add more column names to the indexing operator. The max_deviation function only works with numeric columns:

In [37]:
college.groupby('STABBR')['UGDS', 'SATVRMID', 'SATMTMID'] \
       .agg(max_deviation).round(1).head()

        UGDS  SATVRMID  SATMTMID
STABBR
AK       2.6       NaN       NaN
AL       5.8       1.6       1.8
AR       6.3       2.2       2.3
AS       NaN       NaN       NaN
AZ       9.9       1.9       1.4

In [38]:
college.groupby(['STABBR', 'RELAFFIL']) \
        ['UGDS', 'SATVRMID', 'SATMTMID'] \
       .agg([max_deviation, 'mean', 'std']).round(1).head()

                         UGDS                      SATVRMID               \
                max_deviation    mean     std max_deviation   mean   std
STABBR RELAFFIL
AK     0                  2.1  3508.9  4539.5           NaN    NaN   NaN
       1                  1.1   123.3   132.9           NaN  555.0   NaN
AL     0                  5.2  3248.8  5102.4           1.6  514.9  56.5
       1                  2.4   979.7   870.8           1.5  498.0  53.0
AR     0                  5.8  1793.7  3401.6           1.9  481.1  37.9

                     SATMTMID
                max_deviation   mean   std
STABBR RELAFFIL
AK     0                  NaN    NaN   NaN
       1                  NaN  503.0   NaN
AL     0                  1.7  515.8  56.7
       1                  1.4  485.6  61.4
AR     0                  2.0  503.6  39.0

In [39]:
max_deviation.__name__ = 'Max Deviation'
college.groupby(['STABBR', 'RELAFFIL']) \
        ['UGDS', 'SATVRMID', 'SATMTMID'] \
       .agg([max_deviation, 'mean', 'std']).round(1).head()

                         UGDS                      SATVRMID               \
                Max Deviation    mean     std Max Deviation   mean   std
STABBR RELAFFIL
AK     0                  2.1  3508.9  4539.5           NaN    NaN   NaN
       1                  1.1   123.3   132.9           NaN  555.0   NaN
AL     0                  5.2  3248.8  5102.4           1.6  514.9  56.5
       1                  2.4   979.7   870.8           1.5  498.0  53.0
AR     0                  5.8  1793.7  3401.6           1.9  481.1  37.9

                     SATMTMID
                Max Deviation   mean   std
STABBR RELAFFIL
AK     0                  NaN    NaN   NaN
       1                  NaN  503.0   NaN
AL     0                  1.7  515.8  56.7
       1                  1.4  485.6  61.4
AR     0                  2.0  503.6  39.0

## Customizing aggregating functions with *args and **kwargs

In [40]:
college = pd.read_csv('master/data/college.csv')
grouped = college.groupby(['STABBR', 'RELAFFIL'])

In [41]:
import inspect
inspect.signature(grouped.agg)

In [42]:
coldic = pd.read_csv('master/data/college_data_dictionary.csv')
coldic.T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26
column_name,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
description,Institution Name,City Location,State Abbreviation,Historically Black College or University,0/1 Men Only,0/1 Women only,0/1 Religious Affiliation,SAT Verbal Median,SAT Math Median,Distance Education Only,Undergraduate Enrollment,Percent Undergrad White,Percent Undergrad Black,Percent Undergrad Hispanic,Percent Undergrad Asian,Percent Undergrad American Indian/Alaskan Native,Percent Undergrad Native Hawaiian/Pacific Isla...,Percent Undergrad 2 or more races,Percent Undergrad non-resident aliens,Percent Undergrad race unknown,Percent Students part-time,0/1 Currently Operating,Percent Students with Pell grant,Percent Students with federal loan,Percent Students Older than 25,Median Earnings 10 years after enrollment,Median debt of completers

#### In this recipe, we build a customized function for the college dataset that finds the percentage of schools by state and religious affiliation that have an undergraduate population between two values.

In [43]:
def pct_between_1_3k(s):
    return s.between(1000, 3000).mean()

In [44]:
college.groupby(['STABBR', 'RELAFFIL'])['UGDS'] \
       .agg(pct_between_1_3k).head(9)

STABBR  RELAFFIL
AK      0           0.142857
        1           0.000000
AL      0           0.236111
        1           0.333333
AR      0           0.279412
        1           0.111111
AS      0           1.000000
AZ      0           0.096774
        1           0.000000
Name: UGDS, dtype: float64

#### Let's create a new function that allows the user to define the lower and upper bound

In [45]:
def pct_between(s, low, high):
    return s.between(low, high).mean()

In [46]:
# Faisons un petit test d'utilisation de notre fonction avec une Series quelconque:
ind_exp2

AIRLINE
AA     5.542661
AS    -0.833333
B6     8.692593
DL     0.339691
EV     7.034580
F9    13.630651
HA     4.972973
MQ     6.860591
NK    18.436070
OO     7.593463
UA     7.765755
US     1.681105
VX     5.348884
WN     6.397353
Name: ARR_DELAY, dtype: float64

In [47]:
pct_between(ind_exp2, 2, 8)

0.5714285714285714

In [48]:
# Here the magic of *args and **kwargs come into play.
# In this example, we pass two non-keyword arguments, 1,000 and 10,000, to the agg method.
# Pandas passes these two arguments respectively to the low and high parameters of pct_between.

college.groupby(['STABBR', 'RELAFFIL'])['UGDS'] \
       .agg(pct_between, 1000, 10000).head(9)

STABBR  RELAFFIL
AK      0           0.428571
        1           0.000000
AL      0           0.458333
        1           0.375000
AR      0           0.397059
        1           0.166667
AS      0           1.000000
AZ      0           0.233871
        1           0.111111
Name: UGDS, dtype: float64

In [49]:
# We could also have explicitly used the parameter names with the following command to produce the same result:

college.groupby(['STABBR', 'RELAFFIL'])['UGDS'] \
       .agg(pct_between, high= 10000, low= 1000).head()

STABBR  RELAFFIL
AK      0           0.428571
        1           0.000000
AL      0           0.458333
        1           0.375000
AR      0           0.397059
Name: UGDS, dtype: float64

In [50]:
# Further still, we can mix non-keyword and keyword arguments as long as the keyword arguments come last:

college.groupby(['STABBR', 'RELAFFIL'])['UGDS'] \
       .agg(pct_between, 1000, high=10000).head()

STABBR  RELAFFIL
AK      0           0.428571
        1           0.000000
AL      0           0.458333
        1           0.375000
AR      0           0.397059
Name: UGDS, dtype: float64

#### Impossible to use multiple aggregation

In [51]:
# college.groupby(['STABBR', 'RELAFFIL'])['UGDS'] \
#        .agg(['mean', pct_between], low=100, high=1000)

# TypeError: pct_between() missing 2 required positional arguments: 'low' and 'high'

#### we can define a special type of nested function called a closure. We can use a generic closure to build all of our customized functions:

In [52]:
# Il est malheuresement impossible d'utiliser ces arguments supplémentaires lorsque l'on passe plusieurs fonctions
# d'aggrégations.
# La solution est de créer des fonction en amont avec les arguments supllémentaires deja
# "empaquetés", "wrapped" dans la fonction, comme Laura Palmer dans son sac en plastique.
# Nous allons donc definir un fonction speciale appellée closure qui aura pour role d'empaqueter une fonction et
# ses arguments de manière a pouvoir passer ce package dans .agg

def make_agg_func(func, name, *args, **kwargs):
    
#     Note: l'expression  ', *args, **kwargs'   peut s'interpreter vaguement ainsi:
#             "Ainsi qu'un certain nombre d'arguments sans keywords ou avec keyword sachant que
#                 - les arguments sans kw devront être placés avant ceux avec kw
#                 - le premier argument sans kw rencontré sera considéré comme le premier des *args,
#                 - le 2éme argument rencontré comme le second des *args, et ainsi de suite...
    
    # La fonction wrapper retournée à la fin sera la copie de la fonction passée en argument de make_agg_func
    # mais avec ses arguments déjà hardcodés en elle.
    # Par exemple ici nous allons par la suite utiliser notre closure make_agg_func pour créer 2 fonctions à partir de
    # de pct_between qui prend comme argument une Series et 2 bornes low et high.
    # Nous desirons obtenir au final une fonction qui, tout comme la fonction pct_between_1_3k utilisé
    # au debut de cette recipe, ne prenne en argument qu'une Series - les bornes étant déjà harcodées dans la fonction.

    # Nous definissons donc notre wrapper comme une fonction à un seul argument - une Series - qui sera la 
    # copie de la fonction func passée en argument de notre closure make_agg_func (dans notre exemple func sera
    # pct_between)
    # Cette fonction func (pct-between) prend, nous l'avons definie ainsi prédemment, 3 arguments: une Series, un low et un high.
    # Lorsque nous écrivons *args, **kwargs) dans func, nous signifions donc: "Ainsi que les autres arguments
    # de cette fonction func", sachant que nous auront definit la valeur de ces 2 arguments dans make_agg_func.
    
    # Enfin nous modifions le nom interne de ce wrapper pour qu'il puisse être utilisé pour le nommage
    # des colonnes par la suite le cas échéant.
    
    def wrapper(x):
        return func(x, *args, **kwargs)
    wrapper.__name__ = name
    return wrapper

In [53]:
my_agg1 = make_agg_func(pct_between, 'pct_1_3k', low=1000, high=3000)
my_agg2 = make_agg_func(pct_between, 'pct_10_30k', 10000, 30000)

In [54]:
college.groupby(['STABBR', 'RELAFFIL'])['UGDS'] \
       .agg(['mean', my_agg1, my_agg2]).head()

# Nous sommes donc bien parvenus à passer plusieurs fonctions d'aggrégations, dont certaines customisées,
# et avec des arguments additionnels. Il nous a juste suffit de procéder en 2 étapes:
#     - Empaqueter nos fonction customisées et leurs arguments grace à notre closure.
#     - Faire un groupby classique comme nous savons si bien le faire.

                        mean  pct_1_3k  pct_10_30k
STABBR RELAFFIL
AK     0         3508.857143  0.142857    0.142857
       1          123.333333  0.000000    0.000000
AL     0         3248.774648  0.236111    0.083333
       1          979.722222  0.333333    0.000000
AR     0         1793.691176  0.279412    0.014706

## Examining the groupby object
#### In this recipe, we examine the groupby object itself by directly calling methods on it as well as iterating through each of its groups.

In [55]:
college = pd.read_csv('master/data/college.csv')
grouped = college.groupby(['STABBR', 'RELAFFIL'])
type(grouped)

pandas.core.groupby.groupby.DataFrameGroupBy

In [56]:
dir(grouped)

['CITY',
 'CURROPER',
 'DISTANCEONLY',
 'GRAD_DEBT_MDN_SUPP',
 'HBCU',
 'INSTNM',
 'MD_EARN_WNE_P10',
 'MENONLY',
 'PCTFLOAN',
 'PCTPELL',
 'PPTUG_EF',
 'RELAFFIL',
 'SATMTMID',
 'SATVRMID',
 'STABBR',
 'UG25ABV',
 'UGDS',
 'UGDS_2MOR',
 'UGDS_AIAN',
 'UGDS_ASIAN',
 'UGDS_BLACK',
 'UGDS_HISP',
 'UGDS_NHPI',
 'UGDS_NRA',
 'UGDS_UNKN',
 'UGDS_WHITE',
 'WOMENONLY',
 '__bytes__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__unicode__',
 '__weakref__',
 '_accessors',
 '_add_numeric_operations',
 '_agg_doc',
 '_aggregate',
 '_aggregate_generic',
 '_aggregate_item_by_item',
 '_aggregate_multiple_funcs',
 '_apply_filter',
 '_apply_to_column_groupbys',
 '_apply_whitelist',
 '_assure_grouper',
 '_block_agg_axis',
 '_bool_agg',
 '_builtin_table',
 '_choose_path',
 '_concat_objects',
 '_constructor',
 '_cumcount_array',
 '_cython_agg_blocks',
 '_cython_agg_general',
 '_cython_table',
 '_cython_transform',
 '_decide_output_index',
 '_def_str',
 '_define_paths',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_fill',
 '_get_cythonized_result',
 '_get_data_to_aggregate',
 '_get_index',
 '_get_indices',
 '_gotitem',
 '_group_selection',
 '_insert_inaxis_grouper_inplace',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cython_func',
 '_iterate_column_groupbys',
 '_iterate_slices',
 '_make_wrapper',
 '_obj_with_exclusions',
 '_post_process_cython_aggregate',
 '_python_agg_general',
 '_python_apply_general',
 '_reindex_output',
 '_reset_cache',
 '_reset_group_selection',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_group_selection',
 '_set_result_index_ordered',
 '_shallow_copy',
 '_transform_fast',
 '_transform_general',
 '_transform_item_by_item',
 '_transform_should_cast',
 '_try_aggregate_string_function',
 '_try_cast',
 '_wrap_agged_blocks',
 '_wrap_aggregated_output',
 '_wrap_applied_output',
 '_wrap_generic_output',
 '_wrap_transformed_output',
 'agg',
 'aggregate',
 'all',
 'any',
 'apply',
 'backfill',
 'bfill',
 'boxplot',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cumcount',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'dtypes',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'get_group',
 'groups',
 'head',
 'hist',
 'idxmax',
 'idxmin',
 'indices',
 'last',
 'mad',
 'max',
 'mean',
 'median',
 'min',
 'ndim',
 'ngroup',
 'ngroups',
 'nth',
 'nunique',
 'ohlc',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'prod',
 'quantile',
 'rank',
 'resample',
 'rolling',
 'sem',
 'shift',
 'size',
 'skew',
 'std',
 'sum',
 'tail',
 'take',
 'transform',
 'tshift',
 'var']

In [57]:
# Syntaxe étrange, on place ici une boucle for entre des crochets dans un print precédée de la sortie, jamais vu avant.
# On obtiens un retour sous forme de liste:

print([attr for attr in dir(grouped) if not attr.startswith('_')])

# Une manière plus conventionnelle de procéder:

# for attr in dir(grouped):
#     if not attr.startswith('_'):
#         print(attr)
        
# Mais cela ne donnes pas exactement le même resultat, le retour est une longue serie de print.

['CITY', 'CURROPER', 'DISTANCEONLY', 'GRAD_DEBT_MDN_SUPP', 'HBCU', 'INSTNM', 'MD_EARN_WNE_P10', 'MENONLY', 'PCTFLOAN', 'PCTPELL', 'PPTUG_EF', 'RELAFFIL', 'SATMTMID', 'SATVRMID', 'STABBR', 'UG25ABV', 'UGDS', 'UGDS_2MOR', 'UGDS_AIAN', 'UGDS_ASIAN', 'UGDS_BLACK', 'UGDS_HISP', 'UGDS_NHPI', 'UGDS_NRA', 'UGDS_UNKN', 'UGDS_WHITE', 'WOMENONLY', 'agg', 'aggregate', 'all', 'any', 'apply', 'backfill', 'bfill', 'boxplot', 'corr', 'corrwith', 'count', 'cov', 'cumcount', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'dtypes', 'expanding', 'ffill', 'fillna', 'filter', 'first', 'get_group', 'groups', 'head', 'hist', 'idxmax', 'idxmin', 'indices', 'last', 'mad', 'max', 'mean', 'median', 'min', 'ndim', 'ngroup', 'ngroups', 'nth', 'nunique', 'ohlc', 'pad', 'pct_change', 'pipe', 'plot', 'prod', 'quantile', 'rank', 'resample', 'rolling', 'sem', 'shift', 'size', 'skew', 'std', 'sum', 'tail', 'take', 'transform', 'tshift', 'var']

In [58]:
grouped.ngroups

112

In [59]:
# the groups attribute contains a dictionary of each unique group
# mapped to all the corresponding index labels of that group:

grouped.groups

{('AK', 0): Int64Index([60, 62, 63, 65, 66, 67, 5171], dtype='int64'),
 ('AK', 1): Int64Index([61, 64, 5417], dtype='int64'),
 ('AL',
  0): Int64Index([   0,    1,    3,    4,    5,    6,    7,    8,    9,   11,   13,
               14,   15,   17,   18,   19,   20,   21,   22,   25,   26,   27,
               28,   29,   31,   32,   33,   34,   37,   38,   39,   40,   42,
               44,   45,   48,   49,   50,   52,   55,   56,   57,   58,   59,
             4307, 4415, 4483, 4484, 4851, 4872, 4986, 4987, 5202, 5296, 5523,
             5564, 5879, 5885, 5890, 5924, 5997, 6013, 6062, 6124, 6126, 6134,
             6139, 6600, 6685, 6799, 6894, 7079],
            dtype='int64'),
 ('AL',
  1): Int64Index([   2,   10,   12,   16,   23,   24,   30,   35,   36,   41,   46,
               47,   51,   53,   54, 5818, 6753, 7061, 7164, 7165, 7166, 7167,
             7168, 7495],
            dtype='int64'),
 ('AR',
  0): Int64Index([ 128,  129,  130,  132,  133,  135,  136,  137,  138,  139,  140,
              141,  142,  143,  145,  146,  148,  150,  151,  152,  153,  154,
              155,  157,  159,  160,  161,  162,  163,  164,  165,  166,  167,
              168,  169,  170,  172,  173,  175,  177,  178,  179,  180,  181,
              182,  183,  184,  187,  188,  189,  190,  191, 4443, 4834, 4999,
             5250, 5315, 5591, 5632, 5868, 6184, 6234, 6364, 6512, 6628, 6633,
             6891, 7117],
            dtype='int64'),
 ('AR',
  1): Int64Index([ 131,  134,  144,  147,  149,  156,  158,  171,  174,  176,  185,
              186, 4485, 5636, 7169, 7171, 7172, 7173],
            dtype='int64'),
 ('AS', 0): Int64Index([4138], dtype='int64'),
 ('AZ',
  0): Int64Index([  69,   71,   72,   74,   75,   76,   77,   78,   79,   80,
             ...
             6751, 6795, 6867, 6993, 7023, 7027, 7097, 7116, 7136, 7145],
            dtype='int64', length=124),
 ('AZ',
  1): Int64Index([68, 70, 73, 109, 122, 4609, 5200, 5686, 5919], dtype='int64'),
 ('CA',
  0): Int64Index([ 192,  193,  194,  195,  196,  197,  198,  199,  201,  202,
             ...
             7039, 7042, 7047, 7070, 7081, 7101, 7109, 7110, 7118, 7161],
            dtype='int64', length=609),
 ('CA',
  1): Int64Index([ 200,  210,  214,  215,  223,  227,  254,  274,  276,  277,
             ...
             7365, 7369, 7370, 7433, 7440, 7441, 7475, 7528, 7530, 7533],
            dtype='int64', length=164),
 ('CO',
  0): Int64Index([ 565,  566,  567,  568,  569,  570,  571,  572,  573,  574,
             ...
             6669, 6670, 6781, 6801, 6815, 6845, 6881, 6973, 6995, 7119],
            dtype='int64', length=118),
 ('CO', 1): Int64Index([575, 589, 592, 600, 609, 618, 7241], dtype='int64'),
 ('CT',
  0): Int64Index([ 629,  630,  631,  632,  633,  634,  635,  636,  637,  638,  639,
              640,  641,  642,  643,  644,  646,  647,  648,  649,  650,  651,
              653,  655,  656,  657,  658,  659,  660,  661,  662,  663,  664,
              665,  666,  667,  668,  669,  670,  671,  674,  676,  677,  679,
              680,  681,  682,  683,  684, 4397, 4479, 4759, 4814, 4831, 4863,
             4877, 4878, 4879, 4880, 4881, 5061, 5100, 5112, 5165, 5206, 5207,
             5208, 5355, 5356, 5357, 5468, 5613, 5618, 5774, 5787, 5826, 5933,
             6146, 6243, 6244, 6486, 6878, 6889, 6947, 7093],
            dtype='int64'),
 ('CT',
  1): Int64Index([ 628,  645,  652,  654,  672,  673,  675, 7242, 7243, 7244, 7245,
             7246, 7247, 7248, 7442, 7472, 7473],
            dtype='int64'),
 ('DC',
  0): Int64Index([ 698,  700,  701,  703,  705,  706, 4362, 4658, 4990, 5269, 5553,
             5892, 6147, 6438, 6447, 6905, 7032],
            dtype='int64'),
 ('DC',
  1): Int64Index([696, 697, 699, 702, 707, 708, 6148, 7253, 7275], dtype='int64'),
 ('DE',
  0): Int64Index([ 685,  686,  688,  690,  691,  692,  693,  695, 4225, 5130, 5358,
             5503, 5827, 5883, 5934, 6400],
            dtype='int64'),
 ('DE', 1): Int64Index([687, 689, 694], dtype='int64'),
 ('FL',
  0): Int64Index([ 709,  710,  711,  716,  717,  718,  719,  720,  721,  722,
             ...
             7098, 7099, 7113, 7120, 7140, 7154, 7157, 7158, 7159, 7160],
            dtype='int64', length=347),
 ('FL',
  1): Int64Index([ 712,  713,  714,  715,  724,  728,  732,  734,  744,  749,  752,
              765,  788,  791,  798,  804,  809,  816,  822,  830,  834,  837,
              841,  847,  848,  851, 4300, 4361, 4402, 4805, 5238, 5243, 5364,
             5408, 5496, 5604, 5621, 5645, 6249, 6350, 6689, 6756, 6837, 6945,
             7103, 7153, 7239, 7254, 7255, 7256, 7257, 7258, 7259, 7260, 7261,
             7262, 7263, 7264, 7265, 7266, 7267, 7268, 7269, 7270, 7271, 7272,
             7273, 7364, 7431, 7432, 7438, 7439, 7443, 7444, 7445, 7446, 7453,
             7454, 7480, 7481, 7482, 7483, 7484, 7485, 7486, 7487, 7488, 7489,
             7490],
            dtype='int64'),
 ('FM', 0): Int64Index([4214], dtype='int64'),
 ('GA',
  0): Int64Index([ 860,  862,  863,  864,  865,  866,  868,  869,  870,  871,
             ...
             6997, 7017, 7018, 7024, 7049, 7121, 7147, 7148, 7151, 7163],
            dtype='int64', length=147),
 ('GA',
  1): Int64Index([ 785,  861,  867,  872,  876,  882,  884,  888,  890,  894,  899,
              900,  915,  916,  917,  925,  928,  929,  931,  935,  939,  940,
              942,  943,  946,  948, 4884, 5755, 7240, 7510, 7511, 7512, 7513,
             7514, 7515, 7516, 7517],
            dtype='int64'),
 ('GU', 0): Int64Index([4139, 4140], dtype='int64'),
 ('GU', 1): Int64Index([5289], dtype='int64'),
 ('HI',
  0): Int64Index([ 951,  952,  953,  954,  955,  956,  957,  958,  959,  960,  961,
              962,  963,  964, 4427, 4504, 4638, 4980, 5541, 6492, 6538, 6560],
            dtype='int64'),
 ('HI', 1): Int64Index([949, 950, 3805, 6256], dtype='int64'),
 ('IA',
  0): Int64Index([1247, 1248, 1251, 1252, 1258, 1259, 1262, 1264, 1266, 1268, 1271,
             1272, 1273, 1274, 1275, 1276, 1277, 1278, 1279, 1281, 1282, 1283,
             1285, 1286, 1287, 1288, 1289, 1290, 1291, 1294, 1295, 1300, 1301,
             1303, 1304, 1305, 1306, 1307, 1308, 1311, 1312, 1314, 1315, 1316,
             1317, 1318, 1319, 1320, 1323, 1324, 4318, 4319, 4430, 4505, 4506,
             4610, 5554, 5660, 5944, 5998, 6571, 6702],
            dtype='int64'),
 ('IA',
  1): Int64Index([1249, 1250, 1253, 1254, 1255, 1256, 1257, 1260, 1261, 1263, 1265,
             1267, 1269, 1270, 1280, 1284, 1292, 1293, 1296, 1297, 1298, 1302,
             1309, 1310, 1313, 1321, 1322, 1325, 4418, 6426],
            dtype='int64'),
 ('ID',
  0): Int64Index([ 965,  967,  968,  969,  970,  971,  972,  973,  974,  975,  976,
              978,  980, 4230, 4267, 4268, 4320, 5189, 5319, 5490, 5607, 6084,
             6085, 6101, 6132, 6151, 6257, 6258, 6475, 6496, 6564, 6646, 6804,
             6805, 6813, 6968],
            dtype='int64'),
 ('ID', 1): Int64Index([966, 977, 979, 6796], dtype='int64'),
 ('IL',
  0): Int64Index([  43,  981,  982,  983,  984,  985,  987,  988,  989,  991,
             ...
             6954, 6955, 6972, 6998, 7030, 7034, 7074, 7080, 7089, 7149],
            dtype='int64', length=243),
 ('IL',
  1): Int64Index([ 986,  992, 1004, 1009, 1019, 1024, 1030, 1031, 1034, 1038, 1043,
             1047, 1052, 1064, 1077, 1078, 1082, 1083, 1085, 1088, 1089, 1091,
             1092, 1095, 1096, 1097, 1105, 1106, 1107, 1114, 1119, 1129, 1131,
             1132, 1133, 1134, 1140, 1145, 1150, 1153, 1154, 1159, 1161, 1828,
             4321, 4369, 5427, 5482, 5606, 5684, 6624, 6650, 7278, 7349, 7477,
             7478, 7479],
            dtype='int64'),
 ('IN',
  0): Int64Index([1165, 1166, 1168, 1171, 1173, 1174, 1175, 1176, 1182, 1183, 1185,
             1187, 1189, 1190, 1191, 1192, 1194, 1195, 1196, 1197, 1198, 1199,
             1200, 1201, 1202, 1203, 1204, 1206, 1207, 1208, 1209, 1210, 1211,
             1212, 1213, 1214, 1218, 1219, 1221, 1222, 1223, 1227, 1228, 1229,
             1230, 1231, 1232, 1233, 1238, 1242, 1244, 1245, 1246, 4218, 4306,
             4432, 4452, 4788, 4857, 4858, 5229, 5248, 5472, 5756, 5758, 5807,
             5832, 5833, 5881, 5915, 5946, 5982, 6186, 6187, 6196, 6207, 6263,
             6264, 6325, 6326, 6347, 6362, 6408, 6422, 6453, 6457, 6589, 6599,
             6638, 6641, 6735, 6749, 6838, 6960, 6989, 6999, 7048, 7091, 7107],
            dtype='int64'),
 ('IN',
  1): Int64Index([ 990, 1163, 1164, 1167, 1169, 1170, 1172, 1177, 1178, 1179, 1180,
             1181, 1184, 1186, 1188, 1193, 1215, 1216, 1217, 1220, 1225, 1226,
             1234, 1235, 1236, 1237, 1239, 1240, 1241, 1243, 5065, 5275, 5436,
             7279, 7281, 7282, 7283, 7284, 7285, 7286, 7287, 7288, 7289, 7290,
             7291, 7292, 7293, 7294, 7295, 7296, 7297, 7298, 7299, 7300, 7301,
             7302, 7303, 7304, 7312, 7313, 7314, 7315],
            dtype='int64'),
 ('KS',
  0): Int64Index([1326, 1328, 1332, 1333, 1334, 1337, 1338, 1339, 1340, 1341, 1342,
             1344, 1345, 1346, 1348, 1349, 1350, 1351, 1352, 1354, 1355, 1356,
             1358, 1360, 1362, 1363, 1365, 1366, 1367, 1368, 1372, 1373, 1374,
             1377, 1378, 1380, 1381, 1382, 1383, 1385, 1386, 1387, 1388, 2010,
             4433, 4749, 4789, 4888, 5274, 5334, 5418, 5425, 5812, 5877, 5923,
             5947, 5994, 6003, 6183, 6265, 6578, 6683, 6809, 6816, 6829, 6840,
             6875, 6988],
            dtype='int64'),
 ('KS',
  1): Int64Index([1327, 1329, 1330, 1331, 1335, 1336, 1343, 1347, 1353, 1359, 1361,
             1364, 1369, 1370, 1371, 1375, 1376, 1379, 1384, 2090, 6057, 6827,
             7306, 7307, 7309, 7310, 7311, 7436, 7455, 7456, 7531],
            dtype='int64'),
 ('KY',
  0): Int64Index([1389, 1390, 1392, 1393, 1395, 1396, 1397, 1400, 1403, 1404, 1405,
             1407, 1408, 1409, 1411, 1412, 1413, 1414, 1415, 1416, 1417, 1419,
             1420, 1422, 1424, 1428, 1429, 1431, 1432, 1434, 1435, 1436, 1437,
             1438, 1439, 1440, 1441, 1443, 1444, 1445, 1447, 1448, 1449, 1450,
             1451, 1452, 1454, 1455, 1458, 1460, 4017, 4233, 4269, 4279, 4280,
             4281, 4282, 4349, 4357, 4434, 4750, 4836, 5007, 5144, 5441, 5522,
             5585, 5637, 5703, 5731, 5765, 5815, 5902, 6188, 6345, 6570, 6776,
             6873, 6961, 7087, 7106],
            dtype='int64'),
 ('KY',
  1): Int64Index([1391, 1394, 1398, 1399, 1401, 1402, 1406, 1410, 1418, 1421, 1423,
             1425, 1426, 1427, 1430, 1433, 1442, 1446, 1453, 1456, 1457, 1459,
             6573, 7280, 7316],
            dtype='int64'),
 ('LA',
  0): Int64Index([1461, 1462, 1463, 1464, 1465, 1466, 1467, 1468, 1469, 1471,
             ...
             6679, 6680, 6752, 7028, 7037, 7038, 7076, 7077, 7100, 7122],
            dtype='int64', length=109),
 ('LA',
  1): Int64Index([1470, 1478, 1492, 1495, 1501, 1503, 1504, 1510, 1524, 4510, 6366,
             7451],
            dtype='int64'),
 ('MA',
  0): Int64Index([1619, 1620, 1621, 1622, 1625, 1627, 1628, 1630, 1631, 1632,
             ...
             6267, 6268, 6409, 6480, 6619, 6664, 6713, 6793, 7019, 7086],
            dtype='int64', length=163),
 ('MA',
  1): Int64Index([1623, 1624, 1626, 1629, 1640, 1651, 1659, 1662, 1668, 1675, 1676,
             1677, 1683, 1689, 1701, 1709, 1724, 1726, 1729, 1731, 1741, 3416,
             4436, 4613, 5583, 7249, 7250, 7251, 7252, 7274, 7474],
            dtype='int64'),
 ('MD',
  0): Int64Index([1556, 1557, 1558, 1559, 1560, 1561, 1562, 1563, 1564, 1565, 1566,
             1567, 1568, 1569, 1571, 1572, 1573, 1574, 1575, 1576, 1577, 1578,
             1579, 1580, 1581, 1582, 1583, 1584, 1585, 1586, 1588, 1589, 1590,
             1591, 1592, 1593, 1594, 1595, 1596, 1597, 1598, 1601, 1603, 1604,
             1605, 1606, 1607, 1608, 1609, 1610, 1611, 1612, 1613, 1615, 1616,
             1617, 1618, 4413, 4514, 4743, 5066, 5110, 5154, 5172, 5181, 5186,
             5510, 5670, 5734, 5865, 5995, 6092, 6093, 6156, 6542, 6611, 6629,
             6783, 6864, 6876, 6896, 6913, 6919, 7146],
            dtype='int64'),
 ('MD',
  1): Int64Index([1570, 1587, 1599, 1600, 1602, 1614, 3213, 5180, 5644, 5687, 7000,
             7447, 7448, 7449, 7450],
            dtype='int64'),
 ('ME',
  0): Int64Index([1526, 1527, 1528, 1529, 1530, 1531, 1532, 1533, 1534, 1536, 1537,
             1538, 1539, 1540, 1541, 1542, 1543, 1544, 1545, 1546, 1547, 1548,
             1550, 1551, 1552, 1553, 1554, 1555, 4994, 5146, 5404, 5906, 6568,
             6594, 6602, 6851, 6927],
            dtype='int64'),
 ('ME', 1): Int64Index([1535, 1549, 4515, 7317, 7318, 7319], dtype='int64'),
 ('MH', 0): Int64Index([4561], dtype='int64'),
 ('MI',
  0): Int64Index([1224, 1755, 1756, 1758, 1762, 1763, 1764, 1765, 1768, 1769,
             ...
             6818, 6835, 6877, 6879, 6948, 7001, 7044, 7090, 7092, 7123],
            dtype='int64', length=159),
 ('MI',
  1): Int64Index([1753, 1754, 1757, 1759, 1760, 1761, 1766, 1767, 1782, 1791, 1792,
             1793, 1796, 1798, 1813, 1814, 1815, 1826, 1837, 1839, 1843, 1846,
             1850, 1852, 1862, 4516, 4612, 4720, 4721, 4731, 4844, 4854, 5159,
             5501, 7276, 7320, 7321, 7322, 7323, 7324, 7325, 7326, 7327, 7328,
             7329, 7330, 7331, 7508],
            dtype='int64'),
 ('MN',
  0): Int64Index([ 550, 1863, 1864, 1865, 1866, 1867, 1869, 1870, 1871, 1875,
             ...
             6411, 6478, 6555, 6691, 6696, 6715, 6821, 6859, 6986, 7002],
            dtype='int64', length=113),
 ('MN',
  1): Int64Index([1868, 1872, 1873, 1874, 1877, 1878, 1880, 1887, 1888, 1896, 1897,
             1913, 1923, 1925, 1927, 1932, 1936, 1937, 1938, 1939, 1940, 1941,
             1943, 1948, 5584, 5590, 5695, 7332, 7333, 7334, 7335, 7336, 7337,
             7338, 7339, 7340, 7341, 7342, 7343, 7344, 7345],
            dtype='int64'),
 ('MO',
  0): Int64Index([1357, 1999, 2001, 2002, 2004, 2007, 2008, 2009, 2011, 2014,
             ...
             6886, 6900, 6942, 6956, 6963, 6966, 6987, 6991, 7003, 7124],
            dtype='int64', length=154),
 ('MO',
  1): Int64Index([1996, 1997, 1998, 2000, 2003, 2005, 2006, 2012, 2013, 2015, 2017,
             2020, 2023, 2024, 2025, 2028, 2037, 2050, 2053, 2058, 2059, 2068,
             2072, 2073, 2079, 2082, 2084, 2087, 2091, 2100, 2105, 2107, 5576,
             5648, 5685, 6099, 6137, 6412, 7305],
            dtype='int64'),
 ('MP', 0): Int64Index([4141], dtype='int64'),
 ('MS',
  0): Int64Index([1956, 1959, 1960, 1961, 1962, 1964, 1965, 1966, 1967, 1968, 1969,
             1970, 1971, 1972, 1973, 1974, 1975, 1977, 1978, 1979, 1980, 1982,
             1983, 1984, 1985, 1986, 1987, 1990, 1991, 1992, 4234, 4235, 4518,
             4519, 4627, 4652, 5246, 5368, 5390, 5634, 5675, 5738, 5873, 5955,
             6100, 6367, 6612, 6707, 6723],
            dtype='int64'),
 ('MS',
  1): Int64Index([1957, 1958, 1963, 1976, 1981, 1988, 1989, 1993, 1994, 1995, 7346,
             7347, 7348, 7476],
            dtype='int64'),
 ('MT',
  0): Int64Index([2108, 2109, 2110, 2111, 2112, 2114, 2115, 2116, 2117, 2118, 2119,
             2120, 2122, 2123, 2124, 2125, 2126, 2127, 2128, 2129, 2131, 2132,
             4409, 5512, 5536, 6276, 6278],
            dtype='int64'),
 ('MT', 1): Int64Index([2113, 2121, 2130, 7350, 7351], dtype='int64'),
 ('NC',
  0): Int64Index([2642, 2643, 2644, 2645, 2646, 2648, 2651, 2652, 2655, 2656,
             ...
             6733, 6825, 6850, 6882, 6929, 6953, 7006, 7041, 7083, 7126],
            dtype='int64', length=153),
 ('NC',
  1): Int64Index([2647, 2649, 2650, 2653, 2654, 2658, 2667, 2672, 2673, 2683, 2685,
             2686, 2690, 2691, 2697, 2699, 2701, 2702, 2709, 2715, 2716, 2727,
             2730, 2732, 2733, 2736, 2739, 2744, 2745, 2748, 2751, 2754, 2768,
             3598, 4614, 5369, 5447, 5996, 6550, 6553, 7399, 7406, 7407, 7411,
             7413, 7498, 7499, 7500, 7501, 7502, 7503],
            dtype='int64'),
 ('ND',
  0): Int64Index([2772, 2773, 2774, 2775, 2776, 2777, 2779, 2780, 2781, 2783, 2784,
             2785, 2786, 2787, 2788, 2789, 2790, 2791, 2793, 2794, 2795, 5739,
             6002, 6199, 6978],
            dtype='int64'),
 ('ND', 1): Int64Index([2778, 2782, 2792, 7361], dtype='int64'),
 ('NE',
  0): Int64Index([2133, 2134, 2136, 2137, 2138, 2139, 2142, 2146, 2147, 2148, 2150,
             2151, 2154, 2155, 2156, 2157, 2159, 2160, 2161, 2163, 2164, 2165,
             2166, 2167, 2168, 4398, 4766, 4767, 4768, 5079, 5147, 5160, 5656,
             5754, 6180, 6820],
            dtype='int64'),
 ('NE',
  1): Int64Index([2135, 2140, 2141, 2143, 2144, 2145, 2149, 2152, 2153, 2158, 2162,
             2169, 7437],
            dtype='int64'),
 ('NH',
  0): Int64Index([2183, 2184, 2185, 2186, 2187, 2188, 2189, 2190, 2191, 2192, 2194,
             2195, 2196, 2197, 2198, 2199, 2200, 2201, 2202, 2203, 2204, 2205,
             2206, 2207, 2208, 2209, 2213, 4245, 5086, 5298, 5705, 5903, 5911,
             6479, 6534],
            dtype='int64'),
 ('NH', 1): Int64Index([2193, 2210, 2211, 2212, 2214, 6868], dtype='int64'),
 ('NJ',
  0): Int64Index([2215, 2216, 2217, 2218, 2219, 2220, 2222, 2223, 2225, 2227,
             ...
             6833, 6843, 6934, 6935, 6936, 6941, 7005, 7021, 7026, 7105],
            dtype='int64', length=141),
 ('NJ',
  1): Int64Index([2221, 2224, 2226, 2231, 2236, 2237, 2243, 2246, 2252, 2268, 2276,
             2286, 2287, 2288, 2290, 2292, 5327, 5870, 6336, 7353, 7504, 7505,
             7506, 7509],
            dtype='int64'),
 ('NM',
  0): Int64Index([ 114, 2303, 2304, 2305, 2306, 2307, 2308, 2309, 2310, 2311, 2312,
             2313, 2314, 2315, 2316, 2317, 2318, 2319, 2320, 2321, 2322, 2323,
             2324, 2325, 2326, 2327, 2328, 2329, 2330, 2331, 2332, 2333, 4240,
             4290, 4359, 4420, 4468, 4653, 4711, 4744, 4829, 5297, 5325, 5420,
             5440, 5497, 5740, 6281, 6451, 6556],
            dtype='int64'),
 ('NM', 1): Int64Index([7419], dtype='int64'),
 ('NV',
  0): Int64Index([2170, 2171, 2172, 2173, 2174, 2175, 2176, 2177, 2178, 2179, 2180,
             2181, 2182, 4523, 4860, 5059, 5389, 5479, 5533, 5565, 5573, 5602,
             5615, 5662, 5741, 5909, 5910, 6055, 6108, 6229, 6230, 6282, 6337,
             6435, 6547, 6598, 6666, 6716, 6786, 6803, 6979, 7004, 7078, 7125],
            dtype='int64'),
 ('NV', 1): Int64Index([6439, 7352], dtype='int64'),
 ('NY',
  0): Int64Index([ 678, 2334, 2335, 2336, 2337, 2338, 2339, 2340, 2341, 2342,
             ...
             6933, 6958, 6975, 6992, 7040, 7067, 7068, 7082, 7111, 7142],
            dtype='int64', length=393),
 ('NY',
  1): Int64Index([2375, 2382, 2394, 2437, 2441, 2448, 2451, 2454, 2456, 2463, 2466,
             2467, 2469, 2478, 2490, 2492, 2496, 2499, 2502, 2503, 2514, 2516,
             2519, 2525, 2534, 2538, 2539, 2542, 2545, 2546, 2552, 2553, 2555,
             2562, 2563, 2566, 2568, 2569, 2571, 2572, 2614, 2619, 2624, 2626,
             2633, 2638, 2869, 4263, 4371, 4527, 4678, 4742, 5033, 5286, 5373,
             5375, 5521, 5657, 5960, 6032, 7354, 7355, 7358, 7359, 7360, 7452],
            dtype='int64'),
 ('OH',
  0): Int64Index([2796, 2797, 2798, 2799, 2800, 2801, 2802, 2804, 2805, 2806,
             ...
             6869, 6871, 6872, 6944, 7007, 7050, 7075, 7132, 7135, 7143],
            dtype='int64', length=291),
 ('OH',
  1): Int64Index([2803, 2808, 2812, 2814, 2822, 2827, 2831, 2834, 2840, 2853, 2854,
             2856, 2861, 2864, 2865, 2870, 2879, 2891, 2899, 2900, 2904, 2905,
             2912, 2913, 2914, 2915, 2917, 2918, 2925, 2931, 2933, 2951, 2952,
             2953, 2957, 2958, 2961, 2977, 2983, 2984, 2987, 2990, 2993, 2994,
             2996, 2999, 3000, 3001, 3002, 3006, 4998, 5291, 6024, 6440, 6625,
             6957, 7362, 7491, 7492, 7493, 7532],
            dtype='int64'),
 ('OK',
  0): Int64Index([3009, 3013, 3014, 3015, 3016, 3017, 3018, 3019, 3020, 3021,
             ...
             6712, 6736, 6893, 6980, 6981, 7008, 7031, 7051, 7055, 7127],

In [60]:
grouped.groups.keys()

dict_keys([('AK', 0), ('AK', 1), ('AL', 0), ('AL', 1), ('AR', 0), ('AR', 1), ('AS', 0), ('AZ', 0), ('AZ', 1), ('CA', 0), ('CA', 1), ('CO', 0), ('CO', 1), ('CT', 0), ('CT', 1), ('DC', 0), ('DC', 1), ('DE', 0), ('DE', 1), ('FL', 0), ('FL', 1), ('FM', 0), ('GA', 0), ('GA', 1), ('GU', 0), ('GU', 1), ('HI', 0), ('HI', 1), ('IA', 0), ('IA', 1), ('ID', 0), ('ID', 1), ('IL', 0), ('IL', 1), ('IN', 0), ('IN', 1), ('KS', 0), ('KS', 1), ('KY', 0), ('KY', 1), ('LA', 0), ('LA', 1), ('MA', 0), ('MA', 1), ('MD', 0), ('MD', 1), ('ME', 0), ('ME', 1), ('MH', 0), ('MI', 0), ('MI', 1), ('MN', 0), ('MN', 1), ('MO', 0), ('MO', 1), ('MP', 0), ('MS', 0), ('MS', 1), ('MT', 0), ('MT', 1), ('NC', 0), ('NC', 1), ('ND', 0), ('ND', 1), ('NE', 0), ('NE', 1), ('NH', 0), ('NH', 1), ('NJ', 0), ('NJ', 1), ('NM', 0), ('NM', 1), ('NV', 0), ('NV', 1), ('NY', 0), ('NY', 1), ('OH', 0), ('OH', 1), ('OK', 0), ('OK', 1), ('OR', 0), ('OR', 1), ('PA', 0), ('PA', 1), ('PR', 0), ('PR', 1), ('PW', 0), ('RI', 0), ('RI', 1), ('SC', 0), ('SC', 1), ('SD', 0), ('SD', 1), ('TN', 0), ('TN', 1), ('TX', 0), ('TX', 1), ('UT', 0), ('UT', 1), ('VA', 0), ('VA', 1), ('VI', 0), ('VI', 1), ('VT', 0), ('VT', 1), ('WA', 0), ('WA', 1), ('WI', 0), ('WI', 1), ('WV', 0), ('WV', 1), ('WY', 0)])

In [61]:
groups = list(grouped.groups.keys())
groups[:6]

[('AK', 0), ('AK', 1), ('AL', 0), ('AL', 1), ('AR', 0), ('AR', 1)]

In [62]:
# Retrieve a single group with the get_group method by passing it a tuple of an exact group label:

grouped.get_group(('FL', 1)).head()

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
712,The Baptist College of Florida,Graceville,FL,0.0,0.0,0.0,1,545.0,465.0,0.0,454.0,0.7996,0.0639,0.0441,0.0044,0.0066,0.0000,0.0308,0.0000,0.0507,0.2291,1,0.5878,0.5602,0.3531,30800,20052
713,Barry University,Miami,FL,0.0,0.0,0.0,1,470.0,462.0,0.0,3913.0,0.2004,0.3177,0.2867,0.0153,0.0038,0.0015,0.0164,0.0741,0.0841,0.1518,1,0.5045,0.6733,0.4361,44100,28250
714,Gooding Institute of Nurse Anesthesia,Panama City,FL,0.0,0.0,0.0,1,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,PrivacySuppressed
715,Bethune-Cookman University,Daytona Beach,FL,1.0,0.0,0.0,1,405.0,395.0,0.0,3897.0,0.0190,0.8891,0.0277,0.0021,0.0010,0.0018,0.0198,0.0205,0.0190,0.0523,1,0.7758,0.8867,0.0647,29400,36250
724,Johnson University Florida,Kissimmee,FL,0.0,0.0,0.0,1,480.0,470.0,0.0,220.0,0.7000,0.1136,0.1545,0.0091,0.0000,0.0000,0.0045,0.0045,0.0136,0.1636,1,0.6689,0.7384,0.2185,26300,20199

In [63]:
from IPython.display import display

# We iterate through the groupby object, so at each iteration we are given a tuple containing the group name
# and corresponding DataFrame group without the grouping columns.
# This tuple is unpacked into the variables name and group in a for-loop.

for name, group in grouped:
    print(name)
    display(group.head(3))
    
# If we use the print function also for the DataFrames, we'll be returned plain text without any nice HTML formatting.
# Using the display function instead of print will produce DataFrames in their normal easy-to-read format.

('AK', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
60,University of Alaska Anchorage,Anchorage,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,12865.0,0.5747,0.0358,0.0761,0.0778,0.0653,0.0086,0.0980,0.0181,0.0457,0.4539,1,0.2385,0.2647,0.4386,42500,19449.5
62,University of Alaska Fairbanks,Fairbanks,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,5536.0,0.4259,0.0210,0.0522,0.0126,0.1284,0.0027,0.0401,0.0110,0.3060,0.3887,1,0.2263,0.2550,0.4519,36200,19355
63,University of Alaska Southeast,Juneau,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,1428.0,0.4748,0.0119,0.0623,0.0357,0.1029,0.0147,0.0686,0.0049,0.2241,0.5112,1,0.1769,0.1996,0.5550,37400,16875

('AK', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
61,Alaska Bible College,Palmer,AK,0.0,0.0,0.0,1,NaN,NaN,0.0,27.0,0.8519,0.0000,0.0370,0.0000,0.0741,0.0000,0.0370,0.0,0.0000,0.1481,1,0.3571,0.2857,0.4286,NaN,PrivacySuppressed
64,Alaska Pacific University,Anchorage,AK,0.0,0.0,0.0,1,555.0,503.0,0.0,275.0,0.5309,0.0291,0.0364,0.0255,0.1855,0.0109,0.0945,0.0,0.0873,0.3745,1,0.3152,0.5297,0.4910,47000,23250
5417,Alaska Christian College,Soldotna,AK,0.0,0.0,0.0,1,NaN,NaN,0.0,68.0,0.0588,0.0000,0.0147,0.0000,0.7794,0.0000,0.0147,0.0,0.1324,0.0735,1,0.8868,0.6792,0.2264,NaN,PrivacySuppressed

('AL', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097

('AL', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,0.2990,0.4192,0.0069,0.0034,0.0000,0.0,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
10,Birmingham Southern College,Birmingham,AL,0.0,0.0,0.0,1,560.0,560.0,0.0,1180.0,0.7983,0.1102,0.0195,0.0517,0.0102,0.0,0.0051,0.0000,0.0051,0.0017,1,0.1920,0.4809,0.0152,44200,27000
12,Concordia College Alabama,Selma,AL,1.0,0.0,0.0,1,420.0,400.0,0.0,322.0,0.0280,0.8758,0.0373,0.0093,0.0000,0.0,0.0031,0.0466,0.0000,0.1056,1,0.8667,0.9333,0.2367,19900,PrivacySuppressed

('AR', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
128,University of Arkansas at Little Rock,Little Rock,AR,0.0,0.0,0.0,0,470.0,510.0,0.0,7942.0,0.5297,0.2703,0.0699,0.0225,0.0034,0.0,0.0755,0.0283,0.0003,0.4126,1,0.3941,0.4775,0.4062,33900,21736
129,University of Arkansas for Medical Sciences,Little Rock,AR,0.0,0.0,0.0,0,NaN,NaN,0.0,711.0,0.7370,0.1322,0.0464,0.0281,0.0042,0.0,0.0281,0.0070,0.0169,0.2433,1,0.3944,0.6144,0.5133,61400,12500
130,ABC Beauty College Inc,Arkadelphia,AR,0.0,0.0,0.0,0,NaN,NaN,0.0,38.0,0.2895,0.6579,0.0526,0.0000,0.0000,0.0,0.0000,0.0000,0.0000,0.2105,1,0.9815,1.0000,0.4688,PrivacySuppressed,16500

('AR', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
131,Arkansas Baptist College,Little Rock,AR,1.0,0.0,0.0,1,NaN,NaN,0.0,896.0,0.0413,0.9420,0.0067,0.0011,0.0000,0.0,0.0000,0.0089,0.0000,0.1127,1,0.8306,0.8695,0.2833,22000,38000
134,Lyon College,Batesville,AR,0.0,0.0,0.0,1,505.0,528.0,0.0,690.0,0.7420,0.0681,0.0623,0.0159,0.0145,0.0,0.0000,0.0333,0.0638,0.0101,1,0.4578,0.6740,0.0524,38600,25000
144,Baptist Health College-Little Rock,Little Rock,AR,0.0,0.0,0.0,1,NaN,NaN,0.0,802.0,0.7419,0.1995,0.0137,0.0125,0.0087,0.0,0.0224,0.0000,0.0012,0.0848,1,0.5033,0.7266,0.3791,43200,13393.5

('AS', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
4138,American Samoa Community College,Pago Pago,AS,0.0,0.0,0.0,0,NaN,NaN,0.0,1276.0,0.0016,0.0,0.0,0.0047,0.0,0.9193,0.0,0.0721,0.0024,0.4389,1,0.7245,0.0,0.1774,19800,PrivacySuppressed

('AZ', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
69,Collins College,Phoenix,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,83.0,0.3253,0.0843,0.1566,0.0000,0.0241,0.0000,0.0241,0.0,0.3855,0.3373,0,0.7205,0.8228,0.4764,25700,47000
71,Empire Beauty School-Tucson,Tucson,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,126.0,0.2143,0.0873,0.5794,0.0159,0.0873,0.0079,0.0000,0.0,0.0079,0.2222,1,0.7962,0.6615,0.4229,18200,9833
72,Thunderbird School of Global Management,Glendale,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,1.0,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000,1.0000,0,0.0000,0.0000,0.0000,118900,PrivacySuppressed

('AZ', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
68,Everest College-Phoenix,Phoenix,AZ,0.0,0.0,0.0,1,NaN,NaN,0.0,4102.0,0.3162,0.4405,0.0763,0.0017,0.0207,0.0046,0.0373,0.0,0.1026,0.4749,0,0.8291,0.7151,0.6700,28600,9500
70,Empire Beauty School-Paradise Valley,Phoenix,AZ,0.0,0.0,0.0,1,NaN,NaN,0.0,25.0,0.7600,0.0400,0.1200,0.0000,0.0000,0.0400,0.0400,0.0,0.0000,0.1600,0,0.6349,0.5873,0.4651,17800,9588
73,American Indian College Inc,Phoenix,AZ,0.0,0.0,0.0,1,NaN,NaN,0.0,89.0,0.0449,0.0562,0.1461,0.0225,0.6854,0.0449,0.0000,0.0,0.0000,0.0787,0,0.7500,0.5375,0.4684,PrivacySuppressed,PrivacySuppressed

('CA', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
192,Academy of Art University,San Francisco,CA,0.0,0.0,0.0,0,NaN,NaN,0.0,9885.0,0.2392,0.0685,0.1141,0.0804,0.0051,0.0058,0.0249,0.2523,0.2098,0.4334,1,0.4008,0.5524,0.4043,36000,35093
193,ITT Technical Institute-Rancho Cordova,Rancho Cordova,CA,0.0,0.0,0.0,0,NaN,NaN,0.0,500.0,0.4720,0.1140,0.1100,0.0760,0.0080,0.0020,0.0400,0.0000,0.1780,0.2540,0,0.7137,0.7667,0.7235,38800,25827.5
194,Academy of Chinese Culture and Health Sciences,Oakland,CA,0.0,0.0,0.0,0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed

('CA', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
200,American Baptist Seminary of the West,Berkeley,CA,0.0,0.0,0.0,1,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed
210,Azusa Pacific University,Azusa,CA,0.0,0.0,0.0,1,515.0,515.0,0.0,5918.0,0.4714,0.0448,0.2614,0.0912,0.0019,0.0095,0.0738,0.0191,0.0269,0.0875,1,0.2898,0.5172,0.1467,50000,22500
214,Bethesda University,Anaheim,CA,0.0,0.0,0.0,1,NaN,NaN,0.0,261.0,0.1111,0.1456,0.2261,0.4751,0.0000,0.0000,0.0000,0.0115,0.0307,0.1609,1,0.3686,0.2078,0.4672,PrivacySuppressed,PrivacySuppressed

('CO', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
565,The Salon Professional Academy-Grand Junction,Grand Junction,CO,0.0,0.0,0.0,0,NaN,NaN,0.0,75.0,0.7467,0.0000,0.1600,0.0133,0.0000,0.0000,0.0800,0.0000,0.0000,0.0000,1,0.3806,0.4925,0.2778,PrivacySuppressed,9570
566,Adams State University,Alamosa,CO,0.0,0.0,0.0,0,475.0,509.0,0.0,2110.0,0.5071,0.0706,0.3180,0.0109,0.0152,0.0043,0.0450,0.0000,0.0289,0.1474,1,0.5175,0.6305,0.2106,32800,16255
567,Aims Community College,Greeley,CO,0.0,0.0,0.0,0,NaN,NaN,0.0,3683.0,0.5721,0.0174,0.3617,0.0119,0.0054,0.0022,0.0201,0.0005,0.0087,0.5246,1,0.4105,0.3197,0.3941,31400,8773

('CO', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
575,Colorado Christian University,Lakewood,CO,0.0,0.0,0.0,1,NaN,NaN,0.0,3657.0,0.6918,0.0922,0.1165,0.0139,0.0066,0.0022,0.0386,0.0014,0.0369,0.5835,1,0.3087,0.5214,0.4500,36900,25808
589,Prince Institute-Rocky Mountains,Westminster,CO,0.0,0.0,0.0,1,NaN,NaN,0.0,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,0,0.6923,0.9487,0.8824,33400,20992
592,Denver Seminary,Littleton,CO,0.0,0.0,0.0,1,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed

('CT', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
629,Paul Mitchell the School-Danbury,Danbury,CT,0.0,0.0,0.0,0,NaN,NaN,0.0,137.0,0.6569,0.0511,0.1533,0.0219,0.0000,0.0073,0.0292,0.0,0.0803,0.2774,1,0.4078,0.5475,0.2913,19000,10486
630,Asnuntuck Community College,Enfield,CT,0.0,0.0,0.0,0,NaN,NaN,0.0,1316.0,0.7310,0.0973,0.0828,0.0319,0.0030,0.0008,0.0213,0.0,0.0319,0.4795,1,0.3790,0.0950,0.3959,30900,5500
631,Branford Hall Career Institute-Branford Campus,Branford,CT,0.0,0.0,0.0,0,NaN,NaN,0.0,493.0,0.4016,0.3266,0.2353,0.0041,0.0041,0.0000,0.0142,0.0,0.0142,0.3002,1,0.7103,0.7351,0.5725,27900,9800

('CT', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
628,Albertus Magnus College,New Haven,CT,0.0,0.0,0.0,1,NaN,NaN,0.0,1249.0,0.4107,0.3467,0.1529,0.0048,0.0024,0.0016,0.0128,0.0088,0.0592,0.0825,1,0.4420,0.8002,0.5133,52100,27763.5
645,Fairfield University,Fairfield,CT,0.0,0.0,0.0,1,NaN,NaN,0.0,3841.0,0.7514,0.0247,0.0734,0.0187,0.0005,0.0008,0.0130,0.0234,0.0940,0.0406,1,0.1322,0.5092,0.0604,68500,26852.5
652,Holy Apostles College and Seminary,Cromwell,CT,0.0,0.0,0.0,1,NaN,NaN,0.0,58.0,0.3448,0.0345,0.1379,0.0345,0.0000,0.0000,0.0000,0.3966,0.0517,0.3621,1,0.1379,0.2241,0.7241,NaN,PrivacySuppressed

('DC', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
698,University of the District of Columbia,Washington,DC,1.0,0.0,0.0,0,NaN,NaN,0.0,4253.0,0.0447,0.6261,0.0856,0.0256,0.0014,0.0009,0.0183,0.0336,0.1636,0.5554,1,0.5401,0.4832,0.5662,34800,22393.5
700,Gallaudet University,Washington,DC,0.0,0.0,0.0,0,430.0,445.0,0.0,1001.0,0.5614,0.1239,0.1459,0.0430,0.0020,0.0030,0.0330,0.0819,0.0060,0.0500,1,0.5278,0.3880,0.2451,26000,17750
701,George Washington University,Washington,DC,0.0,0.0,0.0,0,640.0,655.0,0.0,10433.0,0.5835,0.0628,0.0770,0.0995,0.0015,0.0011,0.0355,0.0945,0.0447,0.0666,1,0.1420,0.4003,0.0783,65400,25350

('DC', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
696,American University,Washington,DC,0.0,0.0,0.0,1,635.0,610.0,0.0,7094.0,0.5765,0.0644,0.1081,0.0661,0.0016,0.0006,0.0541,0.0723,0.0562,0.0293,1,0.1666,0.5213,0.0252,55900,24589
697,Catholic University of America,Washington,DC,0.0,0.0,0.0,1,565.0,560.0,0.0,3529.0,0.6342,0.0558,0.1199,0.0315,0.0020,0.0009,0.0394,0.0519,0.0646,0.0530,1,0.1252,0.5615,0.0940,53900,26000
699,Pontifical Faculty of the Immaculate Conceptio...,Washington,DC,0.0,0.0,0.0,1,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed

('DE', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
685,Margaret H Rollins School of Nursing at Beebe ...,Lewes,DE,0.0,0.0,0.0,0,NaN,NaN,0.0,42.0,0.9524,0.0238,0.0000,0.0000,0.0238,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.4545,0.4727,0.4909,PrivacySuppressed,PrivacySuppressed
686,Dawn Career Institute Inc,Wilmington,DE,0.0,0.0,0.0,0,NaN,NaN,0.0,226.0,0.2920,0.5088,0.1062,0.0133,0.0000,0.0000,0.0796,0.0000,0.0000,0.0000,1,0.6677,0.7505,0.6003,22400,9500
688,Delaware Technical Community College-Terry,Dover,DE,0.0,0.0,0.0,0,NaN,NaN,0.0,2740.0,0.5635,0.2858,0.0646,0.0259,0.0044,0.0011,0.0328,0.0077,0.0142,0.5365,1,0.4606,0.2013,0.4075,30700,8000

('DE', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
687,Delaware Technical Community College-Owens,Georgetown,DE,0.0,0.0,0.0,1,NaN,NaN,0.0,3854.0,0.6409,0.1796,0.0911,0.0205,0.0039,0.0018,0.0259,0.0283,0.0080,0.5327,1,0.4674,0.1411,0.3561,28800,6750
689,Delaware Technical Community College-Stanton/W...,Wilmington,DE,0.0,0.0,0.0,1,NaN,NaN,0.0,6081.0,0.4966,0.2830,0.1099,0.0442,0.0031,0.0020,0.0258,0.0202,0.0151,0.6461,1,0.3511,0.1504,0.3842,34000,7508
694,Wesley College,Dover,DE,0.0,0.0,0.0,1,430.0,430.0,0.0,1431.0,0.4186,0.4116,0.0587,0.0154,0.0035,0.0042,0.0391,0.0007,0.0482,0.0342,1,0.5010,0.8632,0.1319,41600,31000

('FL', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
709,Wyotech-Daytona,Ormond Beach,FL,0.0,0.0,0.0,0,NaN,NaN,0.0,400.0,0.8350,0.0700,0.0375,0.0025,0.0125,0.0025,0.0325,0.0000,0.0075,0.0000,1,0.6402,0.6978,0.5980,31800,11600
710,The Art Institute of Fort Lauderdale,Fort Lauderdale,FL,0.0,0.0,0.0,0,NaN,NaN,0.0,1514.0,0.1843,0.1737,0.3534,0.0119,0.0013,0.0007,0.0007,0.0007,0.2734,0.3692,1,0.6263,0.7942,0.4132,28800,29983
711,Atlantic Technical College,Coconut Creek,FL,0.0,0.0,0.0,0,NaN,NaN,0.0,2599.0,0.3859,0.3394,0.2339,0.0215,0.0054,0.0015,0.0123,0.0000,0.0000,0.0000,1,0.1363,0.0000,0.5044,31900,PrivacySuppressed

('FL', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
712,The Baptist College of Florida,Graceville,FL,0.0,0.0,0.0,1,545.0,465.0,0.0,454.0,0.7996,0.0639,0.0441,0.0044,0.0066,0.0000,0.0308,0.0000,0.0507,0.2291,1,0.5878,0.5602,0.3531,30800,20052
713,Barry University,Miami,FL,0.0,0.0,0.0,1,470.0,462.0,0.0,3913.0,0.2004,0.3177,0.2867,0.0153,0.0038,0.0015,0.0164,0.0741,0.0841,0.1518,1,0.5045,0.6733,0.4361,44100,28250
714,Gooding Institute of Nurse Anesthesia,Panama City,FL,0.0,0.0,0.0,1,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,PrivacySuppressed

('FM', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
4214,College of Micronesia-FSM,Pohnpei,FM,0.0,0.0,0.0,0,NaN,NaN,0.0,2344.0,0.0004,0.0,0.0,0.0,0.0,0.9881,0.0,0.0,0.0115,0.3157,1,0.8778,0.0,0.1631,15700,PrivacySuppressed

('GA', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
860,Abraham Baldwin Agricultural College,Tifton,GA,0.0,0.0,0.0,0,465.0,460.0,0.0,3244.0,0.7830,0.1239,0.0586,0.0071,0.0025,0.0003,0.0092,0.0151,0.0003,0.2441,1,0.4629,0.4493,0.1523,32000,15085.5
862,Interactive College of Technology-Chamblee,Chamblee,GA,0.0,0.0,0.0,0,NaN,NaN,0.0,344.0,0.0843,0.5233,0.2209,0.1715,0.0000,0.0000,0.0000,0.0000,0.0000,0.0174,1,0.5620,0.4236,0.7937,21100,7376
863,Interactive College of Technology-Morrow,Morrow,GA,0.0,0.0,0.0,0,NaN,NaN,0.0,25.0,0.1200,0.6800,0.1600,0.0400,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.6129,0.6452,0.7778,21100,7376

('GA', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
785,Luther Rice University & Seminary,Lithonia,GA,0.0,0.0,0.0,1,NaN,NaN,0.0,490.0,0.5082,0.4449,0.0245,0.0184,0.0000,0.0000,0.0000,0.0020,0.0020,0.8224,1,0.5832,0.5362,0.8748,39400,29500
861,Agnes Scott College,Decatur,GA,0.0,0.0,1.0,1,NaN,NaN,0.0,802.0,0.3229,0.3516,0.0948,0.0486,0.0012,0.0025,0.0636,0.0898,0.0249,0.0050,1,0.4404,0.6470,0.0459,38800,27000
867,Andrew College,Cuthbert,GA,0.0,0.0,0.0,1,380.0,380.0,0.0,295.0,0.3864,0.4746,0.0746,0.0068,0.0000,0.0000,0.0305,0.0271,0.0000,0.0034,1,0.6139,0.8544,0.0095,27500,12875

('GU', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
4139,Guam Community College,Mangilao,GU,0.0,0.0,0.0,0,NaN,NaN,0.0,2010.0,0.0199,0.0204,0.0040,0.4104,0.0010,0.5318,0.0,0.007,0.0055,0.5453,1,0.6354,0.000,0.3058,22000,PrivacySuppressed
4140,University of Guam,Mangilao,GU,0.0,0.0,0.0,0,NaN,NaN,0.0,3607.0,0.0222,0.0061,0.0064,0.4389,0.0008,0.4946,0.0,0.008,0.0230,0.2265,1,0.5269,0.276,0.2064,29900,PrivacySuppressed

('GU', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
5289,Pacific Islands University,Mangilao,GU,0.0,0.0,0.0,1,NaN,NaN,0.0,65.0,0.0154,0.0,0.0,0.0308,0.0,0.9538,0.0,0.0,0.0,0.1846,1,0.973,0.0,0.2533,PrivacySuppressed,PrivacySuppressed

('HI', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
951,University of Hawaii at Hilo,Hilo,HI,0.0,0.0,0.0,0,465.0,475.0,0.0,3295.0,0.2273,0.0097,0.1263,0.1715,0.0055,0.1111,0.2983,0.0476,0.0027,0.1733,1,0.4706,0.4515,0.2690,33500,19197
952,University of Hawaii at Manoa,Honolulu,HI,0.0,0.0,0.0,0,530.0,555.0,0.0,13667.0,0.1782,0.0135,0.0943,0.3987,0.0017,0.0349,0.2516,0.0253,0.0018,0.1601,1,0.3015,0.3746,0.1755,43000,19000
953,Hawaii Institute of Hair Design,Honolulu,HI,0.0,0.0,0.0,0,NaN,NaN,0.0,81.0,0.0988,0.0617,0.0617,0.3457,0.0000,0.3333,0.0988,0.0000,0.0000,0.0000,1,0.8112,0.3776,0.5529,17300,5868

('HI', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
949,Heald College-Honolulu,Honolulu,HI,0.0,0.0,0.0,1,NaN,NaN,0.0,1401.0,0.0500,0.0507,0.0257,0.2884,0.0029,0.1770,0.1406,0.0000,0.2648,0.2198,0,0.7283,0.6920,0.5262,35000,11676
950,Chaminade University of Honolulu,Honolulu,HI,0.0,0.0,0.0,1,470.0,480.0,0.0,2017.0,0.1706,0.0555,0.0625,0.2816,0.0099,0.1587,0.1145,0.0169,0.1299,0.1765,1,0.4641,0.4425,0.3237,38400,22000
3805,Brigham Young University-Hawaii,Laie,HI,0.0,0.0,0.0,1,525.0,545.0,0.0,2522.0,0.3739,0.0044,0.0539,0.0389,0.0048,0.0801,0.0817,0.3616,0.0008,0.0523,1,0.2415,0.1749,0.2224,41500,8291

('IA', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1247,Allen College,Waterloo,IA,0.0,0.0,0.0,0,NaN,NaN,0.0,379.0,0.8892,0.0211,0.0026,0.0158,0.000,0.0053,0.0079,0.0079,0.0501,0.3588,1,0.3317,0.8065,0.3945,49100,17090.5
1248,AIB College of Business,Des Moines,IA,0.0,0.0,0.0,0,NaN,NaN,0.0,1012.0,0.4516,0.0375,0.0484,0.0079,0.003,0.0049,0.0128,0.0198,0.4140,0.2490,1,0.4132,0.7125,0.3209,37000,19732.5
1251,Capri College-Dubuque,Dubuque,IA,0.0,0.0,0.0,0,NaN,NaN,0.0,189.0,0.9153,0.0529,0.0159,0.0000,0.000,0.0000,0.0159,0.0000,0.0000,0.0000,1,0.4845,0.5103,0.2295,19400,8477

('IA', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1249,Briar Cliff University,Sioux City,IA,0.0,0.0,0.0,1,475.0,510.0,0.0,964.0,0.7718,0.0571,0.0934,0.0156,0.0073,0.0010,0.0187,0.0353,0.0000,0.1971,1,0.4549,0.7975,0.2380,38100,24000
1250,Buena Vista University,Storm Lake,IA,0.0,0.0,0.0,1,435.0,478.0,0.0,1892.0,0.8066,0.0164,0.0476,0.0137,0.0063,0.0005,0.0100,0.0264,0.0724,0.1147,1,0.4911,0.8195,0.3999,38300,23877.5
1253,American College of Hairstyling-Cedar Rapids,Cedar Rapids,IA,0.0,0.0,0.0,1,NaN,NaN,0.0,8.0,0.6250,0.2500,0.0000,0.0000,0.1250,0.0000,0.0000,0.0000,0.0000,0.0000,0,0.8889,0.8889,0.4545,PrivacySuppressed,PrivacySuppressed

('ID', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
965,Carrington College-Boise,Boise,ID,0.0,0.0,0.0,0,NaN,NaN,0.0,494.0,0.7530,0.0202,0.1457,0.0223,0.0182,0.0101,0.0243,0.0000,0.0061,0.0789,1,0.6654,0.5804,0.5580,25000,9500
967,Boise State University,Boise,ID,0.0,0.0,0.0,0,510.0,515.0,0.0,16206.0,0.7516,0.0166,0.1031,0.0201,0.0061,0.0036,0.0353,0.0408,0.0228,0.2519,1,0.3464,0.4669,0.3182,35600,23500
968,Eastern Idaho Technical College,Idaho Falls,ID,0.0,0.0,0.0,0,NaN,NaN,0.0,538.0,0.8086,0.0019,0.1524,0.0112,0.0130,0.0056,0.0000,0.0000,0.0074,0.5037,1,0.5421,0.5393,0.6041,26600,11375

('ID', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
966,Boise Bible College,Boise,ID,0.0,0.0,0.0,1,520.0,480.0,0.0,172.0,0.8663,0.0116,0.0523,0.0058,0.0174,0.0000,0.0174,0.0058,0.0233,0.0930,1,0.6793,0.6576,0.1613,25500,19596
977,Northwest Nazarene University,Nampa,ID,0.0,0.0,0.0,1,525.0,515.0,0.0,1300.0,0.7600,0.0123,0.0885,0.0131,0.0085,0.0046,0.0177,0.0231,0.0723,0.1085,1,0.3382,0.6081,0.2991,35900,25500
979,Brigham Young University-Idaho,Rexburg,ID,0.0,0.0,0.0,1,515.0,505.0,0.0,23865.0,0.8011,0.0048,0.0303,0.0094,0.0035,0.0044,0.0569,0.0659,0.0238,0.3462,1,0.4733,0.2138,0.3710,38800,11000

('IL', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
43,Prince Institute-Southeast,Elmhurst,IL,0.0,0.0,0.0,0,NaN,NaN,0.0,84.0,0.7976,0.1310,0.0714,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,1,0.7857,0.9375,0.6569,PrivacySuppressed,20992
981,Adler University,Chicago,IL,0.0,0.0,0.0,0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed
982,Alvareitas College of Cosmetology-Edwardsville,Edwardsville,IL,0.0,0.0,0.0,0,NaN,NaN,0.0,47.0,0.9362,0.0638,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.3404,0,0.6364,0.7792,0.3111,PrivacySuppressed,9911

('IL', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
986,Augustana College,Rock Island,IL,0.0,0.0,0.0,1,NaN,NaN,0.0,2469.0,0.7602,0.0417,0.0952,0.0186,0.0016,0.0008,0.0373,0.0251,0.0194,0.0061,1,0.2310,0.6985,0.0115,47900,27000
992,Blackburn College,Carlinville,IL,0.0,0.0,0.0,1,473.0,488.0,0.0,578.0,0.8201,0.1090,0.0225,0.0121,0.0052,0.0000,0.0208,0.0000,0.0104,0.0433,1,0.5064,0.7937,0.0534,37100,26000
1004,Catholic Theological Union at Chicago,Chicago,IL,0.0,0.0,0.0,1,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed

('IN', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1165,Apex Academy of Hair Design Inc,Anderson,IN,0.0,0.0,0.0,0,NaN,NaN,0.0,14.0,0.7143,0.0714,0.2143,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.5000,0.3333,0.3333,PrivacySuppressed,PrivacySuppressed
1166,Ball State University,Muncie,IN,0.0,0.0,0.0,0,550.0,545.0,0.0,15895.0,0.8189,0.0740,0.0382,0.0101,0.0007,0.0011,0.0247,0.0196,0.0127,0.0618,1,0.3399,0.5917,0.0715,38800,25000
1168,Butler University,Indianapolis,IN,0.0,0.0,0.0,0,580.0,590.0,0.0,4013.0,0.8283,0.0366,0.0334,0.0259,0.0017,0.0000,0.0214,0.0232,0.0294,0.0135,1,0.1649,0.5742,0.0185,55000,27000

('IN', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
990,Bethany Theological Seminary,Richmond,IN,0.0,0.0,0.0,1,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed
1163,Ancilla College,Donaldson,IN,0.0,0.0,0.0,1,NaN,NaN,0.0,378.0,0.7540,0.1138,0.0952,0.0000,0.0026,0.0000,0.0291,0.0053,0.0000,0.1878,1,0.6900,0.7400,0.2925,29400,17000
1164,Anderson University,Anderson,IN,0.0,0.0,0.0,1,515.0,515.0,0.0,1831.0,0.7996,0.0563,0.0251,0.0082,0.0027,0.0027,0.0104,0.0306,0.0644,0.0863,1,0.2118,0.4688,0.1215,35600,27000

('KS', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1326,Allen County Community College,Iola,KS,0.0,0.0,0.0,0,NaN,NaN,0.0,2628.0,0.8231,0.0613,0.0807,0.0167,0.0122,0.0000,0.0004,0.0011,0.0046,0.5441,1,0.4001,0.2703,0.2886,29100,6900
1328,Barton County Community College,Great Bend,KS,0.0,0.0,0.0,0,NaN,NaN,0.0,2646.0,0.6546,0.1542,0.1217,0.0159,0.0079,0.0060,0.0212,0.0000,0.0185,0.3534,1,0.1424,0.0922,0.4148,32200,8976
1332,Brown Mackie College-Kansas City,Lenexa,KS,0.0,0.0,0.0,0,NaN,NaN,0.0,457.0,0.6411,0.2298,0.0832,0.0109,0.0109,0.0044,0.0000,0.0000,0.0197,0.0000,1,0.6440,0.6975,0.6296,25200,16000

('KS', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1327,Baker University,Baldwin City,KS,0.0,0.0,0.0,1,478.0,505.0,0.0,1649.0,0.7107,0.1013,0.0588,0.0103,0.0224,0.0055,0.0115,0.0127,0.0667,0.3511,1,0.3774,0.7296,0.4418,48800,25250
1329,Benedictine College,Atchison,KS,0.0,0.0,0.0,1,565.0,530.0,0.0,1836.0,0.7870,0.0370,0.0566,0.0103,0.0038,0.0038,0.0419,0.0310,0.0283,0.0060,1,0.2073,0.5367,0.0208,39600,26000
1330,Bethany College,Lindsborg,KS,0.0,0.0,0.0,1,435.0,470.0,0.0,637.0,0.6217,0.1648,0.1633,0.0094,0.0047,0.0078,0.0251,0.0031,0.0000,0.0126,1,0.3988,0.1533,0.0316,38100,27000

('KY', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1389,Alice Lloyd College,Pippa Passes,KY,0.0,0.0,0.0,0,455.0,485.0,0.0,657.0,0.9696,0.0061,0.0030,0.0000,0.0030,0.0046,0.0015,0.0015,0.0107,0.0457,1,0.5737,0.6815,0.0460,33500,16495
1390,Asbury University,Wilmore,KY,0.0,0.0,0.0,0,559.0,551.0,0.0,1499.0,0.8052,0.0380,0.0207,0.0087,0.0027,0.0033,0.0620,0.0167,0.0427,0.1741,1,0.3316,0.7001,0.1448,33600,25250
1392,Ashland Community and Technical College,Ashland,KY,0.0,0.0,0.0,0,NaN,NaN,0.0,2433.0,0.9466,0.0160,0.0132,0.0025,0.0041,0.0004,0.0115,0.0000,0.0058,0.3288,1,0.5259,0.4076,0.3974,23700,11780

('KY', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1391,Asbury Theological Seminary,Wilmore,KY,0.0,0.0,0.0,1,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,42500,PrivacySuppressed
1394,Bellarmine University,Louisville,KY,0.0,0.0,0.0,1,550.0,545.0,0.0,2499.0,0.8447,0.0396,0.0288,0.0208,0.0028,0.0016,0.0344,0.0108,0.0164,0.0536,1,0.2364,0.6213,0.0941,46600,25000
1398,Brescia University,Owensboro,KY,0.0,0.0,0.0,1,460.0,490.0,0.0,1003.0,0.6690,0.1326,0.0608,0.0020,0.0090,0.0020,0.0000,0.0100,0.1147,0.2403,1,0.4989,0.8219,0.4903,37500,30500

('LA', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1461,Central Louisiana Technical Community College,Alexandria,LA,0.0,0.0,0.0,0,NaN,NaN,0.0,1354.0,0.4882,0.3900,0.0318,0.0037,0.0096,0.0015,0.0155,0.003,0.0569,0.3929,1,0.3466,0.0000,0.4799,PrivacySuppressed,PrivacySuppressed
1462,American School of Business,Shreveport,LA,0.0,0.0,0.0,0,NaN,NaN,0.0,61.0,0.1148,0.8525,0.0164,0.0000,0.0000,0.0000,0.0164,0.000,0.0000,0.2951,0,0.6032,0.5159,0.8353,19400,9500
1463,Ayers Career College,Shreveport,LA,0.0,0.0,0.0,0,NaN,NaN,0.0,259.0,0.2780,0.6911,0.0154,0.0077,0.0039,0.0000,0.0039,0.000,0.0000,0.0000,1,0.9108,0.8410,0.6816,25100,9500

('LA', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1470,Centenary College of Louisiana,Shreveport,LA,0.0,0.0,0.0,1,530.0,520.0,0.0,548.0,0.6807,0.1533,0.0602,0.0347,0.0109,0.0018,0.0383,0.0201,0.0000,0.0091,1,0.3515,0.6092,0.0307,40400,25000
1478,Dillard University,New Orleans,LA,1.0,0.0,0.0,1,440.0,430.0,0.0,1200.0,0.0033,0.9233,0.0050,0.0000,0.0000,0.0000,0.0075,0.0217,0.0392,0.0517,1,0.7422,0.8833,0.0904,32800,35000
1492,Louisiana College,Pineville,LA,0.0,0.0,0.0,1,NaN,NaN,0.0,957.0,0.6614,0.2194,0.0261,0.0073,0.0063,0.0010,0.0115,0.0533,0.0136,0.0408,1,0.4319,0.5896,0.1487,39100,23743.5

('MA', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1619,Hult International Business School,Cambridge,MA,0.0,0.0,0.0,0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed
1620,New England College of Business and Finance,Boston,MA,0.0,0.0,0.0,0,NaN,NaN,1.0,690.0,0.1029,0.1594,0.0014,0.0072,0.0000,0.0000,0.0000,0.0000,0.7290,0.7696,1,0.2574,0.4426,0.8543,NaN,18450
1621,American International College,Springfield,MA,0.0,0.0,0.0,0,438.0,443.0,0.0,1473.0,0.4216,0.2512,0.1045,0.0190,0.0034,0.0054,0.0448,0.0027,0.1473,0.0659,1,0.5063,0.8480,0.2102,38900,27000

('MA', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1623,Andover Newton Theological School,Newton Centre,MA,0.0,0.0,0.0,1,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed
1624,Anna Maria College,Paxton,MA,0.0,0.0,0.0,1,NaN,NaN,0.0,1108.0,0.7229,0.0794,0.0596,0.0153,0.0027,0.0027,0.0208,0.0054,0.0912,0.3060,1,0.3500,0.7725,0.2948,41900,25361
1626,Assumption College,Worcester,MA,0.0,0.0,0.0,1,NaN,NaN,0.0,2193.0,0.6986,0.0483,0.0711,0.0210,0.0018,0.0005,0.0223,0.0160,0.1204,0.0812,1,0.2295,0.7268,0.0781,53600,27000

('MD', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1556,Aaron's Academy of Beauty,Waldorf,MD,0.0,0.0,0.0,0,NaN,NaN,0.0,28.0,0.1429,0.8214,0.0357,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,0.1786,1,0.7222,0.6481,0.4359,PrivacySuppressed,PrivacySuppressed
1557,Aesthetics Institute of Cosmetology,Gaithersburg,MD,0.0,0.0,0.0,0,NaN,NaN,0.0,86.0,0.0930,0.4302,0.2558,0.1395,0.0000,0.0000,0.0814,0.0000,0.000,0.5581,1,0.5833,0.4583,0.6500,PrivacySuppressed,6333
1558,Allegany College of Maryland,Cumberland,MD,0.0,0.0,0.0,0,NaN,NaN,0.0,2585.0,0.8008,0.1308,0.0170,0.0031,0.0015,0.0004,0.0132,0.0143,0.019,0.3590,1,0.4782,0.4525,0.2946,29300,14072

('MD', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1570,Washington Adventist University,Takoma Park,MD,0.0,0.0,0.0,1,420.0,420.0,0.0,790.0,0.0987,0.5646,0.1190,0.0684,0.0139,0.0038,0.0127,0.0304,0.0886,0.1443,1,0.5727,0.7854,0.3225,44500,27000
1587,Loyola University Maryland,Baltimore,MD,0.0,0.0,0.0,1,NaN,NaN,0.0,4062.0,0.7875,0.0507,0.0940,0.0330,0.0015,0.0010,0.0236,0.0044,0.0042,0.0086,1,0.1426,0.5335,0.0072,63000,27000
1599,Mount St Mary's University,Emmitsburg,MD,0.0,0.0,0.0,1,530.0,520.0,0.0,1806.0,0.7110,0.1052,0.0936,0.0233,0.0033,0.0011,0.0371,0.0094,0.0161,0.0460,1,0.2252,0.6215,0.0781,49900,25995

('ME', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1526,Kaplan University-Maine Campus,S Portland,ME,0.0,0.0,0.0,0,NaN,NaN,0.0,1008.0,0.8810,0.0337,0.0308,0.0079,0.0069,0.003,0.0000,0.0000,0.0367,0.6448,1,0.7368,0.6812,0.7520,33400,29493
1527,College of the Atlantic,Bar Harbor,ME,0.0,0.0,0.0,0,NaN,NaN,0.0,365.0,0.7041,0.0082,0.0575,0.0247,0.0055,0.000,0.0137,0.1616,0.0247,0.0219,1,0.3876,0.6152,0.0387,26400,19000
1528,Bates College,Lewiston,ME,0.0,0.0,0.0,0,NaN,NaN,0.0,1773.0,0.7186,0.0479,0.0677,0.0462,0.0023,0.000,0.0406,0.0688,0.0079,0.0000,1,0.1167,0.2859,0.0034,51600,16297

('ME', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1535,Husson University,Bangor,ME,0.0,0.0,0.0,1,475.0,480.0,0.0,2292.0,0.8940,0.0375,0.0161,0.0061,0.0048,0.0022,0.0118,0.0275,0.0000,0.1501,1,0.4340,0.7447,0.2332,36900,26250
1549,Saint Joseph's College of Maine,Standish,ME,0.0,0.0,0.0,1,480.0,485.0,0.0,1817.0,0.6103,0.0209,0.0165,0.0099,0.0055,0.0006,0.0000,0.0000,0.3363,0.4766,1,0.2452,0.6548,0.4171,39100,27000
4515,New England School of Communications,Bangor,ME,0.0,0.0,0.0,1,NaN,NaN,0.0,334.0,0.9132,0.0359,0.0120,0.0030,0.0030,0.0000,0.0090,0.0240,0.0000,0.1347,1,NaN,NaN,0.1007,27400,27000

('MH', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
4561,College of the Marshall Islands,Majuro,MH,0.0,0.0,0.0,0,NaN,NaN,0.0,1078.0,0.0,0.0,0.0,0.0,0.0028,0.9917,0.0,0.0056,0.0,0.2727,1,0.8923,0.0,0.231,PrivacySuppressed,PrivacySuppressed

('MI', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1224,West Michigan College of Barbering and Beauty,Kalamazoo,MI,0.0,0.0,0.0,0,NaN,NaN,0.0,94.0,0.3830,0.4255,0.1064,0.0213,0.0,0.0,0.0532,0.0,0.0106,0.8085,1,0.7807,0.0000,0.4368,14800,PrivacySuppressed
1755,Hillsdale Beauty College,Hillsdale,MI,0.0,0.0,0.0,0,NaN,NaN,0.0,37.0,1.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0000,0.0,0.0000,0.0270,1,0.7442,0.7326,0.2000,PrivacySuppressed,PrivacySuppressed
1756,Northwestern Technological Institute,Southfield,MI,0.0,0.0,0.0,0,NaN,NaN,0.0,416.0,0.3678,0.5913,0.0072,0.0000,0.0,0.0,0.0000,0.0,0.0337,0.0000,1,0.8547,0.8659,0.6478,30200,9500

('MI', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1753,Adrian College,Adrian,MI,0.0,0.0,0.0,1,500.0,490.0,0.0,1570.0,0.7280,0.0962,0.0510,0.0064,0.0019,0.0000,0.0338,0.0006,0.0822,0.0153,1,0.4142,0.7884,0.0231,37100,27000
1754,Albion College,Albion,MI,0.0,0.0,0.0,1,550.0,580.0,0.0,1249.0,0.7990,0.0376,0.0368,0.0184,0.0024,0.0008,0.0264,0.0240,0.0544,0.0080,1,0.2502,0.6129,0.0130,44900,27000
1757,Alma College,Alma,MI,0.0,0.0,0.0,1,519.0,504.0,0.0,1362.0,0.8355,0.0330,0.0367,0.0147,0.0066,0.0007,0.0257,0.0081,0.0389,0.0081,1,0.2882,0.9070,0.0113,43200,27000

('MN', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
550,Walden University,Minneapolis,MN,0.0,0.0,0.0,0,NaN,NaN,1.0,8658.0,0.3927,0.3340,0.0700,0.0158,0.0043,0.0017,0.0216,0.0099,0.1499,0.9061,1,0.4650,0.6614,0.8741,59700,29125
1863,Academy College,Bloomington,MN,0.0,0.0,0.0,0,NaN,NaN,0.0,119.0,0.6218,0.1176,0.0504,0.0840,0.0084,0.0252,0.0084,0.0000,0.0840,0.4034,1,0.5369,0.6913,0.6779,38500,29069
1864,Alexandria Technical & Community College,Alexandria,MN,0.0,0.0,0.0,0,NaN,NaN,0.0,1663.0,0.9164,0.0078,0.0367,0.0048,0.0048,0.0012,0.0192,0.0012,0.0078,0.2249,1,0.2773,0.4067,0.2576,35100,12000

('MN', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1868,Augsburg College,Minneapolis,MN,0.0,0.0,0.0,1,595.0,558.0,0.0,2552.0,0.5846,0.1066,0.0654,0.0772,0.0102,0.0004,0.0243,0.0176,0.1136,0.2230,1,0.4330,0.7043,0.3108,45700,27000
1872,Bethany Lutheran College,Mankato,MN,0.0,0.0,0.0,1,NaN,NaN,0.0,503.0,0.8708,0.0278,0.0318,0.0040,0.0060,0.0020,0.0239,0.0080,0.0258,0.0318,1,0.3972,0.7599,0.0311,34200,25000
1873,Bethel University,Saint Paul,MN,0.0,0.0,0.0,1,585.0,580.0,0.0,2936.0,0.8478,0.0484,0.0276,0.0310,0.0010,0.0003,0.0242,0.0041,0.0157,0.1522,1,0.2725,0.6636,0.1991,45000,24069

('MO', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1357,Concorde Career College-Kansas City,Kansas City,MO,0.0,0.0,0.0,0,NaN,NaN,0.0,590.0,0.4203,0.4034,0.0949,0.0186,0.0051,0.0017,0.0339,0.0,0.0220,0.0000,1,0.4003,0.4502,0.6181,22100,9500
1999,ITT Technical Institute-Earth City,Earth City,MO,0.0,0.0,0.0,0,NaN,NaN,0.0,517.0,0.4642,0.4313,0.0135,0.0155,0.0058,0.0000,0.0290,0.0,0.0406,0.2456,0,0.8007,0.8339,0.7010,38800,25827.5
2001,House of Heavilin Beauty College-Blue Springs,Blue Springs,MO,0.0,0.0,0.0,0,NaN,NaN,0.0,102.0,0.8333,0.0588,0.0784,0.0294,0.0000,0.0000,0.0000,0.0,0.0000,0.1765,1,0.4966,0.5510,0.3556,11600,9088.5

('MO', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1996,Aquinas Institute of Theology,Saint Louis,MO,0.0,0.0,0.0,1,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed
1997,Assemblies of God Theological Seminary,Springfield,MO,0.0,0.0,0.0,1,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,PrivacySuppressed,22062
1998,Avila University,Kansas City,MO,0.0,0.0,0.0,1,440.0,480.0,0.0,1321.0,0.6101,0.1893,0.0765,0.0167,0.0083,0.0038,0.0288,0.0666,0.0,0.1794,1,0.4226,0.7059,0.3298,41100,26625

('MP', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
4141,Northern Marianas College,Saipan,MP,0.0,0.0,0.0,0,NaN,NaN,0.0,1120.0,0.0116,0.0018,0.0036,0.2866,0.0018,0.5232,0.0768,0.0598,0.0348,0.1509,1,0.9125,0.0,0.2002,19600,PrivacySuppressed

('MS', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1956,Alcorn State University,Alcorn State,MS,1.0,0.0,0.0,0,438.0,453.0,0.0,3006.0,0.0226,0.9365,0.0040,0.0017,0.001,0.0033,0.0183,0.0126,0.0,0.1450,1,0.7646,0.8423,0.254,30400,28000
1959,Chris Beauty College,Gulfport,MS,0.0,0.0,0.0,0,NaN,NaN,0.0,70.0,0.7143,0.2000,0.0000,0.0857,0.000,0.0000,0.0000,0.0000,0.0,0.0000,1,0.5649,0.0000,0.299,15300,PrivacySuppressed
1960,Coahoma Community College,Clarksdale,MS,1.0,0.0,0.0,0,NaN,NaN,0.0,1875.0,0.0389,0.9552,0.0032,0.0011,0.000,0.0005,0.0005,0.0005,0.0,0.0443,1,0.8843,0.0000,0.302,21100,PrivacySuppressed

('MS', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1957,Belhaven University,Jackson,MS,0.0,0.0,0.0,1,NaN,NaN,0.0,2546.0,0.3472,0.4760,0.0463,0.0067,0.0063,0.0024,0.0185,0.0306,0.066,0.4965,1,0.4860,0.6792,0.5435,36800,29656
1958,Blue Mountain College,Blue Mountain,MS,0.0,0.0,0.0,1,NaN,NaN,0.0,498.0,0.8454,0.1044,0.0201,0.0080,0.0020,0.0000,0.0040,0.0141,0.002,0.0743,1,0.5551,0.5691,0.1692,29200,PrivacySuppressed
1963,Creations College of Cosmetology,Tupelo,MS,0.0,0.0,0.0,1,NaN,NaN,0.0,27.0,0.5926,0.4074,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,0.0000,0,0.8113,0.0000,0.4902,17900,PrivacySuppressed

('MT', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2108,Academy of Cosmetology,Bozeman,MT,0.0,0.0,0.0,0,NaN,NaN,0.0,29.0,0.9310,0.0,0.0690,0.0,0.0000,0.0,0.0,0.0,0.0,0.0000,1,0.4490,0.4286,0.2619,PrivacySuppressed,PrivacySuppressed
2109,Blackfeet Community College,Browning,MT,0.0,0.0,0.0,0,NaN,NaN,0.0,482.0,0.0394,0.0,0.0062,0.0,0.9544,0.0,0.0,0.0,0.0,0.1452,1,0.7279,0.0000,0.4800,15600,PrivacySuppressed
2110,Butte Academy of Beauty Culture,Butte,MT,0.0,0.0,0.0,0,NaN,NaN,0.0,46.0,0.9130,0.0,0.0435,0.0,0.0435,0.0,0.0,0.0,0.0,0.0000,1,0.7455,0.6364,0.4054,PrivacySuppressed,9500

('MT', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2113,Carroll College,Helena,MT,0.0,0.0,0.0,1,565.0,555.0,0.0,1410.0,0.8007,0.0078,0.0496,0.0149,0.0128,0.0028,0.0163,0.0135,0.0816,0.0199,1,0.2103,0.5759,0.0741,45500,27000
2121,University of Great Falls,Great Falls,MT,0.0,0.0,0.0,1,NaN,NaN,0.0,1035.0,0.7565,0.0184,0.0889,0.0232,0.0174,0.0048,0.0174,0.0232,0.0502,0.3971,1,0.3834,0.5315,0.4283,30700,24000
2130,Rocky Mountain College,Billings,MT,0.0,0.0,0.0,1,495.0,495.0,0.0,903.0,0.7708,0.0354,0.0199,0.0089,0.0210,0.0055,0.0709,0.0498,0.0177,0.0266,1,0.3381,0.7996,0.1053,38900,25626

('NC', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2642,College of the Albemarle,Elizabeth City,NC,0.0,0.0,0.0,0,NaN,NaN,0.0,1955.0,0.6665,0.1795,0.0425,0.0066,0.0056,0.0026,0.0240,0.0629,0.0097,0.5136,1,0.4029,0.000,0.3617,22300,PrivacySuppressed
2643,The Art Institute of Charlotte,Charlotte,NC,0.0,0.0,0.0,0,NaN,NaN,0.0,1129.0,0.2640,0.5341,0.0815,0.0159,0.0044,0.0115,0.0000,0.0000,0.0886,0.4588,1,0.7099,0.822,0.2754,28800,25167
2644,South Piedmont Community College,Polkton,NC,0.0,0.0,0.0,0,NaN,NaN,0.0,1784.0,0.6272,0.1906,0.1003,0.0112,0.0034,0.0017,0.0213,0.0224,0.0219,0.6648,1,0.4150,0.000,0.3595,21700,PrivacySuppressed

('NC', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2647,Barton College,Wilson,NC,0.0,0.0,0.0,1,475.0,480.0,0.0,998.0,0.5842,0.2305,0.0551,0.0120,0.0090,0.0,0.0281,0.0301,0.0511,0.1082,1,0.4664,0.7843,0.2271,36000,27000
2649,Belmont Abbey College,Belmont,NC,0.0,0.0,0.0,1,495.0,510.0,0.0,1545.0,0.4065,0.2524,0.0142,0.0097,0.0026,0.0,0.0032,0.0136,0.2977,0.0634,1,0.5086,0.7485,0.4347,36000,27000
2650,Bennett College,Greensboro,NC,1.0,0.0,1.0,1,NaN,NaN,0.0,553.0,0.0036,0.8915,0.0271,0.0000,0.0036,0.0,0.0217,0.0018,0.0506,0.0145,1,0.7265,0.8574,0.0235,26900,37000

('ND', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2772,Rasmussen College-North Dakota,Fargo,ND,0.0,0.0,0.0,0,NaN,NaN,0.0,768.0,0.6927,0.0208,0.0143,0.0091,0.0221,0.0013,0.0078,0.0013,0.2305,0.4453,1,0.5516,0.6948,0.6286,30900,21163
2773,Bismarck State College,Bismarck,ND,0.0,0.0,0.0,0,NaN,NaN,0.0,3212.0,0.8733,0.0314,0.0240,0.0056,0.0168,0.0009,0.0274,0.0019,0.0187,0.2874,1,0.2029,0.3516,0.3351,38400,11588
2774,Dickinson State University,Dickinson,ND,0.0,0.0,0.0,0,460.0,425.0,0.0,1231.0,0.7758,0.0471,0.0487,0.0057,0.0089,0.0032,0.0276,0.0601,0.0227,0.2063,1,0.2519,0.4479,0.2436,38800,19500

('ND', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2778,University of Jamestown,Jamestown,ND,0.0,0.0,0.0,1,561.0,586.0,0.0,866.0,0.8002,0.0462,0.0554,0.0115,0.0162,0.0035,0.0000,0.0658,0.0012,0.0323,1,0.2681,0.6408,0.0806,39600,27000
2782,University of Mary,Bismarck,ND,0.0,0.0,0.0,1,525.0,525.0,0.0,1928.0,0.8340,0.0213,0.0296,0.0093,0.0166,0.0021,0.0187,0.0119,0.0565,0.1043,1,0.2402,0.6492,0.1698,45100,22722
2792,Trinity Bible College,Ellendale,ND,0.0,0.0,0.0,1,450.0,472.0,0.0,212.0,0.7830,0.0849,0.0189,0.0000,0.0425,0.0283,0.0330,0.0094,0.0000,0.0943,1,0.6768,0.9091,0.1515,25500,27592

('NE', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2133,La'James International College,Fremont,NE,0.0,0.0,0.0,0,NaN,NaN,0.0,24.0,0.7917,0.0417,0.1667,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.6863,0.7451,0.2424,15900,PrivacySuppressed
2134,Bellevue University,Bellevue,NE,0.0,0.0,0.0,0,NaN,NaN,0.0,6185.0,0.5740,0.0998,0.0750,0.0144,0.0052,0.0037,0.0183,0.0233,0.1864,0.1185,1,0.2914,0.4368,0.8125,52600,17188
2136,Bryan College of Health Sciences,Lincoln,NE,0.0,0.0,0.0,0,NaN,NaN,0.0,588.0,0.9133,0.0170,0.0238,0.0255,0.0051,0.0000,0.0153,0.0000,0.0000,0.4745,1,0.3477,0.7049,0.3174,50900,24280.5

('NE', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2135,Clarkson College,Omaha,NE,0.0,0.0,0.0,1,NaN,NaN,0.0,739.0,0.7510,0.0501,0.0406,0.0257,0.0068,0.0014,0.0203,0.0000,0.1042,0.4628,1,0.3564,0.7205,0.4744,47000,26000
2140,Concordia University-Nebraska,Seward,NE,0.0,0.0,0.0,1,490.0,480.0,0.0,1232.0,0.8653,0.0422,0.0381,0.0130,0.0032,0.0016,0.0057,0.0114,0.0195,0.0373,1,0.2129,0.5046,0.0405,36100,26000
2141,Creighton University,Omaha,NE,0.0,0.0,0.0,1,575.0,608.0,0.0,3977.0,0.7257,0.0264,0.0727,0.0938,0.0045,0.0035,0.0390,0.0259,0.0085,0.0357,1,0.1757,0.6830,0.0775,57100,23250

('NH', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2183,Colby-Sawyer College,New London,NH,0.0,0.0,0.0,0,NaN,NaN,0.0,1351.0,0.6351,0.0644,0.0303,0.0155,0.0015,0.0007,0.0052,0.1029,0.1443,0.0266,1,0.3550,0.7536,0.0142,38800,27000
2184,Continental Academie of Hair Design-Hudson,Hudson,NH,0.0,0.0,0.0,0,NaN,NaN,0.0,72.0,0.9306,0.0000,0.0556,0.0000,0.0000,0.0000,0.0139,0.0000,0.0000,0.0000,1,0.5900,0.9000,0.1129,23200,9075
2185,Daniel Webster College,Nashua,NH,0.0,0.0,0.0,0,NaN,NaN,0.0,644.0,0.7189,0.0776,0.0575,0.0404,0.0062,0.0016,0.0404,0.0016,0.0559,0.1025,1,0.4034,0.7864,0.1377,50500,26999

('NH', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2193,Northeast Catholic College,Warner,NH,0.0,0.0,0.0,1,NaN,NaN,0.0,61.0,0.8525,0.0000,0.1475,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,NaN,NaN,PrivacySuppressed
2210,Rivier University,Nashua,NH,0.0,0.0,0.0,1,480.0,485.0,0.0,1433.0,0.7865,0.0272,0.0468,0.0195,0.0042,0.0007,0.0188,0.0000,0.0963,0.4501,1,0.2753,0.6757,0.4104,41700,25500
2211,Saint Anselm College,Manchester,NH,0.0,0.0,0.0,1,NaN,NaN,0.0,1950.0,0.8021,0.0185,0.0292,0.0062,0.0015,0.0010,0.0169,0.0062,0.1185,0.0185,1,0.1747,0.7572,0.0146,52800,27000

('NJ', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2215,Eastwick College-Hackensack,Hackensack,NJ,0.0,0.0,0.0,0,NaN,NaN,0.0,375.0,0.1547,0.3413,0.4347,0.0587,0.0027,0.0080,0.0000,0.0000,0.0000,0.3067,1,0.6667,0.8457,0.6667,27300,12519
2216,Atlantic Cape Community College,Mays Landing,NJ,0.0,0.0,0.0,0,NaN,NaN,0.0,6359.0,0.4685,0.1485,0.1691,0.0815,0.0055,0.0035,0.0138,0.0102,0.0995,0.5139,1,0.5204,0.1618,0.3129,28100,10005
2217,Fortis Institute-Wayne,Wayne,NJ,0.0,0.0,0.0,0,NaN,NaN,0.0,564.0,0.2145,0.1436,0.4362,0.0106,0.0018,0.0035,0.0284,0.0000,0.1613,0.0000,1,0.6561,0.7310,0.3280,30400,10305

('NJ', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2221,Bloomfield College,Bloomfield,NJ,0.0,0.0,0.0,1,405.0,415.0,0.0,1933.0,0.0983,0.5266,0.2442,0.0285,0.0062,0.0041,0.0057,0.0357,0.0507,0.0988,1,0.6733,0.8275,0.2044,36100,30500
2224,Caldwell University,Caldwell,NJ,0.0,0.0,0.0,1,465.0,485.0,0.0,1596.0,0.4229,0.1466,0.1617,0.0482,0.0013,0.0025,0.0000,0.0420,0.1748,0.1516,1,0.4214,0.6597,0.2186,44400,26040
2226,Centenary College,Hackettstown,NJ,0.0,0.0,0.0,1,465.0,465.0,0.0,1612.0,0.5633,0.1086,0.0701,0.0124,0.0019,0.0000,0.0037,0.0230,0.2171,0.0546,1,0.3202,0.6293,0.3138,41100,25437.5

('NM', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
114,Pima Medical Institute-Albuquerque,Albuquerque,NM,0.0,0.0,0.0,0,NaN,NaN,0.0,892.0,0.2186,0.0247,0.5504,0.0157,0.1222,0.0000,0.0348,0.0000,0.0336,0.0000,1,0.5900,0.6630,0.5387,28200,8708
2303,Olympian Academy of Cosmetology,Alamogordo,NM,0.0,0.0,0.0,0,NaN,NaN,0.0,986.0,0.2779,0.2495,0.3955,0.0061,0.0172,0.0000,0.0193,0.0000,0.0345,0.0000,1,0.8292,0.8134,0.4169,17200,11705
2304,Central New Mexico Community College,Albuquerque,NM,0.0,0.0,0.0,0,NaN,NaN,0.0,22767.0,0.3036,0.0300,0.4814,0.0211,0.0732,0.0026,0.0221,0.0348,0.0311,0.6419,1,0.3945,0.1769,0.4726,29500,10000

('NM', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
7419,Computer Career Center-Las Cruces,Las Cruces,NM,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,21300,14250

('NV', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2170,Academy of Hair Design-Las Vegas,Las Vegas,NV,0.0,0.0,0.0,0,NaN,NaN,0.0,45.0,0.2667,0.2444,0.3333,0.0444,0.0000,0.0222,0.0667,0.0000,0.0222,0.0000,1,0.5652,0.7283,0.2468,17200,9500
2171,Career College of Northern Nevada,Sparks,NV,0.0,0.0,0.0,0,NaN,NaN,0.0,581.0,0.5318,0.0396,0.2892,0.0396,0.0413,0.0069,0.0379,0.0000,0.0138,0.0000,1,0.7853,0.8492,0.5845,23800,14020.5
2172,College of Southern Nevada,Las Vegas,NV,0.0,0.0,0.0,0,NaN,NaN,0.0,31149.0,0.3512,0.1249,0.2713,0.0899,0.0067,0.0182,0.0489,0.0126,0.0764,0.7165,1,0.3228,0.1504,0.4493,31700,10500

('NV', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
6439,Touro University Nevada,Henderson,NV,0.0,0.0,0.0,1,NaN,NaN,0.0,31.0,0.5161,0.0,0.0,0.3548,0.0,0.0323,0.0323,0.0,0.0645,0.0323,1,0.0,0.2,0.4,NaN,PrivacySuppressed
7352,Marinello School of Beauty-Henderson,Henderson,NV,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,21200,9796.5

('NY', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
678,Tri-State College of Acupuncture,New York,NY,0.0,0.0,0.0,0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,PrivacySuppressed,PrivacySuppressed
2334,Vaughn College of Aeronautics and Technology,Flushing,NY,0.0,0.0,0.0,0,NaN,NaN,0.0,1605.0,0.1333,0.2168,0.3751,0.1153,0.0050,0.0343,0.0467,0.0206,0.0530,0.2143,1,0.6520,0.6792,0.4142,48700,22625
2335,Adelphi University,Garden City,NY,0.0,0.0,0.0,0,550.0,565.0,0.0,5036.0,0.5409,0.1015,0.1418,0.0808,0.0012,0.0006,0.0208,0.0381,0.0743,0.0913,1,0.3079,0.5982,0.1562,51300,25000

('NY', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2375,Canisius College,Buffalo,NY,0.0,0.0,0.0,1,530.0,545.0,0.0,2736.0,0.7445,0.0705,0.0504,0.0212,0.0022,0.0007,0.0172,0.0446,0.0486,0.0132,1,0.2964,0.6715,0.0373,45700,25000
2382,Christ the King Seminary,East Aurora,NY,0.0,0.0,0.0,1,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
2394,Concordia College-New York,Bronxville,NY,0.0,0.0,0.0,1,425.0,435.0,0.0,886.0,0.3510,0.2156,0.2212,0.0282,0.0023,0.0000,0.0203,0.1253,0.0361,0.0621,1,0.4329,0.7024,0.3393,43200,26000

('OH', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2796,ETI Technical College,Niles,OH,0.0,0.0,0.0,0,NaN,NaN,0.0,152.0,0.7105,0.2632,0.0132,0.0132,0.0000,0.0,0.0000,0.0,0.0000,0.4737,1,0.9188,0.7250,0.6894,22700,13964
2797,The Art Institute of Cincinnati-AIC College of...,Cincinnati,OH,0.0,0.0,0.0,0,NaN,NaN,0.0,36.0,0.6944,0.2222,0.0278,0.0556,0.0000,0.0,0.0000,0.0,0.0000,0.0556,1,0.6053,0.8947,0.3158,29700,PrivacySuppressed
2798,Miami-Jacobs Career College-Independence,Independence,OH,0.0,0.0,0.0,0,NaN,NaN,0.0,193.0,0.1658,0.6580,0.0725,0.0052,0.0415,0.0,0.0104,0.0,0.0466,0.2487,1,0.8447,0.8539,0.6173,26700,22940

('OH', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2803,Allegheny Wesleyan College,Salem,OH,0.0,0.0,0.0,1,NaN,NaN,0.0,53.0,0.9811,0.0000,0.0000,0.0189,0.0000,0.0000,0.0000,0.0000,0.0000,0.0566,1,0.6744,0.6977,0.0465,PrivacySuppressed,PrivacySuppressed
2808,Ashland University,Ashland,OH,0.0,0.0,0.0,1,505.0,525.0,0.0,3227.0,0.7806,0.1289,0.0260,0.0046,0.0046,0.0009,0.0143,0.0236,0.0164,0.2411,1,0.2855,0.5807,0.3070,39000,27000
2812,Baldwin Wallace University,Berea,OH,0.0,0.0,0.0,1,NaN,NaN,0.0,3276.0,0.7897,0.0916,0.0507,0.0128,0.0012,0.0009,0.0388,0.0107,0.0037,0.0995,1,0.3410,0.8166,0.1393,44900,27000

('OK', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3009,American Broadcasting School-Oklahoma City,Oklahoma City,OK,0.0,0.0,0.0,0,NaN,NaN,0.0,23.0,0.5217,0.4783,0.0000,0.0000,0.0000,0.0,0.0000,0.0,0.0000,0.0000,1,0.6250,0.5625,0.8333,27300,7023
3013,Broken Arrow Beauty College-Broken Arrow,Broken Arrow,OK,0.0,0.0,0.0,0,NaN,NaN,0.0,39.0,0.5641,0.0769,0.1026,0.0256,0.0769,0.0,0.1538,0.0,0.0000,0.0769,1,0.5758,0.5909,0.3556,16800,9259
3014,Pontotoc Technology Center,Ada,OK,0.0,0.0,0.0,0,NaN,NaN,0.0,106.0,0.5849,0.0283,0.0377,0.0000,0.3208,0.0,0.0000,0.0,0.0283,0.2830,1,0.5705,0.0000,0.4957,28500,PrivacySuppressed

('OK', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3010,Bacone College,Muskogee,OK,0.0,0.0,0.0,1,398.0,428.0,0.0,939.0,0.1917,0.3099,0.0895,0.0288,0.2556,0.0053,0.0298,0.0000,0.0895,0.1140,1,0.9392,0.8920,0.1648,29700,26350
3011,Oklahoma Wesleyan University,Bartlesville,OK,0.0,0.0,0.0,1,475.0,495.0,0.0,1153.0,0.6574,0.0676,0.0763,0.0043,0.0711,0.0026,0.0442,0.0581,0.0182,0.4796,1,0.3756,0.6845,0.4769,46100,21276.5
3012,Southern Nazarene University,Bethany,OK,0.0,0.0,0.0,1,NaN,NaN,0.0,1704.0,0.6496,0.1291,0.0722,0.0217,0.0299,0.0047,0.0358,0.0252,0.0317,0.0411,1,0.4515,0.6500,0.3551,45800,18750

('OR', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3069,Academy of Hair Design-Salem,Salem,OR,0.0,0.0,0.0,0,NaN,NaN,0.0,58.0,0.8103,0.0345,0.1379,0.0000,0.0172,0.0000,0.0000,0.0000,0.0000,0.0,1,0.8642,0.9877,0.5536,14800,18519
3070,Abdill Career College Inc,Medford,OR,0.0,0.0,0.0,0,NaN,NaN,0.0,41.0,0.8537,0.0244,0.0976,0.0244,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,1,0.6486,0.5878,0.4500,PrivacySuppressed,9500
3071,Paul Mitchell the School-Portland,Portland,OR,0.0,0.0,0.0,0,NaN,NaN,0.0,150.0,0.8067,0.0200,0.1000,0.0000,0.0200,0.0133,0.0133,0.0133,0.0133,0.0,1,0.3261,0.4402,0.2159,NaN,10194

('OR', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3081,Concordia University-Portland,Portland,OR,0.0,0.0,0.0,1,520.0,520.0,0.0,1243.0,0.6533,0.0579,0.0764,0.0571,0.0048,0.0097,0.0676,0.0193,0.0539,0.1368,1,0.4568,0.7284,0.2839,40400,25000
3086,New Hope Christian College-Eugene,Eugene,OR,0.0,0.0,0.0,1,NaN,NaN,0.0,162.0,0.6111,0.0370,0.0864,0.0370,0.0123,0.0432,0.0926,0.0247,0.0556,0.1235,1,0.5922,0.6648,0.2346,26400,24921
3087,George Fox University,Newberg,OR,0.0,0.0,0.0,1,540.0,545.0,0.0,2494.0,0.6961,0.0152,0.0870,0.0369,0.0044,0.0040,0.0585,0.0557,0.0421,0.0974,1,0.3448,0.6464,0.1426,41700,22000

('PA', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3136,Abington Memorial Hospital Dixon School of Nur...,Willow Grove,PA,0.0,0.0,0.0,0,NaN,NaN,0.0,224.0,0.6964,0.1518,0.0313,0.0893,0.0,0.0045,0.0268,0.0,0.0000,0.0000,1,0.4286,0.8527,0.6696,63300,15836
3137,Jolie Hair and Beauty Academy-Hazleton,Hazleton,PA,0.0,0.0,0.0,0,NaN,NaN,0.0,81.0,0.5802,0.1605,0.2222,0.0000,0.0,0.0000,0.0123,0.0,0.0247,0.2593,1,0.7260,0.7534,0.4330,PrivacySuppressed,8847.5
3138,Keystone Technical Institute,Harrisburg,PA,0.0,0.0,0.0,0,NaN,NaN,0.0,341.0,0.6012,0.1701,0.0235,0.0000,0.0,0.0000,0.0293,0.0,0.1760,0.0000,1,0.7164,0.7709,0.3578,24400,11677.5

('PA', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3139,Bryn Athyn College of the New Church,Bryn Athyn,PA,0.0,0.0,0.0,1,445.0,450.0,0.0,271.0,0.6458,0.2030,0.0886,0.0185,0.0000,0.0037,0.0000,0.0406,0.0000,0.0258,1,0.3726,0.6350,0.0266,PrivacySuppressed,22294.5
3141,Albright College,Reading,PA,0.0,0.0,0.0,1,NaN,NaN,0.0,2340.0,0.5714,0.1598,0.0919,0.0329,0.0056,0.0000,0.0090,0.0235,0.1060,0.0043,1,0.4610,0.8987,0.2452,45800,28750
3144,Allegheny College,Meadville,PA,0.0,0.0,0.0,1,585.0,575.0,0.0,1968.0,0.7917,0.0473,0.0645,0.0224,0.0010,0.0000,0.0437,0.0244,0.0051,0.0066,1,0.2628,0.6742,0.0088,48400,29046

('PR', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
4142,Institute of Beauty Careers,Arecibo,PR,0.0,0.0,0.0,0,NaN,NaN,0.0,152.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,1,0.8407,0.0000,0.2821,12000,PrivacySuppressed
4143,Educational Technical College-Recinto de Bayamon,Bayamon,PR,0.0,0.0,0.0,0,NaN,NaN,0.0,497.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,1,0.8189,0.0000,0.2933,14500,PrivacySuppressed
4144,American University of Puerto Rico,Bayamon,PR,0.0,0.0,0.0,0,NaN,NaN,0.0,742.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0889,1,0.8252,0.0699,0.2657,19300,3920

('PR', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
4147,Universidad Adventista de las Antillas,Mayaguez,PR,0.0,0.0,0.0,1,NaN,NaN,0.0,1223.0,0.0090,0.0106,0.9534,0.0008,0.0,0.0,0.0,0.0262,0.0000,0.0638,1,0.8687,0.5291,0.2230,18900,13800
4149,Universidad Central de Bayamon,Bayamón,PR,0.0,0.0,0.0,1,NaN,NaN,0.0,1794.0,0.0000,0.0000,0.9922,0.0000,0.0,0.0,0.0,0.0000,0.0078,0.3055,1,0.8200,0.3063,0.2849,18500,8250
4154,Pontifical Catholic University of Puerto Rico-...,Arecibo,PR,0.0,0.0,0.0,1,NaN,NaN,0.0,616.0,0.0065,0.0000,0.9058,0.0000,0.0,0.0,0.0,0.0000,0.0877,0.0763,1,0.7511,0.3725,0.2595,17900,13195

('PW', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
4215,Palau Community College,Koror,PW,0.0,0.0,0.0,0,NaN,NaN,0.0,602.0,0.0,0.0017,0.0,0.0,0.0,0.9983,0.0,0.0,0.0,0.3887,1,0.856,0.0,0.2616,24700,PrivacySuppressed

('RI', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3402,Brown University,Providence,RI,0.0,0.0,0.0,0,715.0,725.0,0.0,6264.0,0.4355,0.0669,0.1132,0.1285,0.0038,0.0016,0.0544,0.1157,0.0803,0.0037,1,0.1580,0.2291,0.0112,59700,15500
3403,Bryant University,Smithfield,RI,0.0,0.0,0.0,0,NaN,NaN,0.0,3302.0,0.7283,0.0421,0.0654,0.0421,0.0036,0.0015,0.0109,0.0812,0.0248,0.0212,1,0.1664,0.6027,0.0216,64500,27000
3404,Johnson & Wales University-Providence,Providence,RI,0.0,0.0,0.0,0,NaN,NaN,0.0,8846.0,0.5699,0.1064,0.1083,0.0097,0.0017,0.0006,0.0623,0.0762,0.0650,0.0678,1,0.3374,0.7882,0.1037,35300,27000

('RI', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3401,Empire Beauty School-Providence,Providence,RI,0.0,0.0,0.0,1,NaN,NaN,0.0,113.0,0.3097,0.2478,0.3363,0.0354,0.0088,0.0088,0.0177,0.0000,0.0354,0.2743,0,0.8081,0.6566,0.4667,21000,9833
3408,Providence College,Providence,RI,0.0,0.0,0.0,1,NaN,NaN,0.0,3936.0,0.7670,0.0422,0.0765,0.0117,0.0020,0.0023,0.0178,0.0206,0.0600,0.0587,1,0.1272,0.5562,0.0689,57700,27000
3414,Salve Regina University,Newport,RI,0.0,0.0,0.0,1,NaN,NaN,0.0,2081.0,0.7823,0.0187,0.0687,0.0130,0.0024,0.0000,0.0197,0.0159,0.0793,0.0586,1,0.1960,0.7631,0.0592,49700,27000

('SC', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3417,Aiken Technical College,Graniteville,SC,0.0,0.0,0.0,0,NaN,NaN,0.0,2270.0,0.6053,0.3101,0.0423,0.0106,0.0097,0.0013,0.0101,0.0009,0.0097,0.6123,1,0.5611,0.2446,0.4413,24500,9625
3420,Technical College of the Lowcountry,Beaufort,SC,0.0,0.0,0.0,0,NaN,NaN,0.0,2244.0,0.4808,0.3574,0.1003,0.0076,0.0036,0.0009,0.0107,0.0013,0.0374,0.7032,1,0.6469,0.1796,0.5035,25300,7500
3422,Bob Jones University,Greenville,SC,0.0,0.0,0.0,0,544.0,522.0,0.0,2553.0,0.7697,0.0145,0.0627,0.0219,0.0027,0.0047,0.0294,0.0564,0.0380,0.0223,1,0.4133,0.3824,0.0384,PrivacySuppressed,19000

('SC', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3418,Allen University,Columbia,SC,1.0,0.0,0.0,1,NaN,NaN,0.0,660.0,0.0045,0.9879,0.0061,0.0015,0.0000,0.0000,0.0000,0.0000,0.0000,0.0273,1,0.8955,0.9831,0.0783,21100,37676
3419,Charleston Southern University,Charleston,SC,0.0,0.0,0.0,1,490.0,495.0,0.0,2949.0,0.6033,0.2770,0.0329,0.0125,0.0051,0.0014,0.0214,0.0081,0.0383,0.1055,1,0.4718,0.7246,0.2198,35700,27741
3421,Benedict College,Columbia,SC,1.0,0.0,0.0,1,NaN,NaN,0.0,2444.0,0.0033,0.9885,0.0029,0.0037,0.0000,0.0000,0.0000,0.0000,0.0016,0.0160,1,0.8288,0.9013,0.0784,21400,44000

('SD', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3479,Black Hills Beauty College,Rapid City,SD,0.0,0.0,0.0,0,NaN,NaN,0.0,109.0,0.8165,0.0000,0.0183,0.0642,0.0917,0.0000,0.0000,0.0000,0.0092,0.0000,1,0.3931,0.4162,0.1339,16200,11790
3480,Black Hills State University,Spearfish,SD,0.0,0.0,0.0,0,487.0,472.0,0.0,2910.0,0.8361,0.0110,0.0474,0.0041,0.0395,0.0024,0.0388,0.0131,0.0076,0.2416,1,0.3443,0.5587,0.2841,34400,25625
3481,Kilian Community College,Sioux Falls,SD,0.0,0.0,0.0,0,NaN,NaN,0.0,191.0,0.5236,0.1937,0.0209,0.0105,0.0681,0.0000,0.0000,0.0000,0.1832,0.8429,0,0.6838,0.7510,0.5455,23100,17125

('SD', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3478,Augustana University,Sioux Falls,SD,0.0,0.0,0.0,1,545.0,575.0,0.0,1619.0,0.8672,0.0191,0.0204,0.0080,0.0025,0.0006,0.0142,0.0679,0.0000,0.0315,1,0.2062,0.6158,0.0424,41800,27000
3483,Dakota Wesleyan University,Mitchell,SD,0.0,0.0,0.0,1,510.0,525.0,0.0,765.0,0.9007,0.0170,0.0288,0.0026,0.0118,0.0000,0.0209,0.0157,0.0026,0.1176,1,0.3877,0.7815,0.1309,34500,27000
3486,Avera McKennan Hospital School of Radiologic T...,Sioux Falls,SD,0.0,0.0,0.0,1,NaN,NaN,0.0,20.0,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0500,0.3000,0.0500,PrivacySuppressed,PrivacySuppressed

('TN', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1205,ITT Technical Institute-Nashville,Nashville,TN,0.0,0.0,0.0,0,NaN,NaN,0.0,552.0,0.5743,0.3062,0.0616,0.0236,0.0036,0.0018,0.0199,0.0,0.0091,0.2047,0,0.7352,0.7219,0.8019,38800,25827.5
3507,Arnolds Beauty School,Milan,TN,0.0,0.0,0.0,0,NaN,NaN,0.0,66.0,0.8788,0.1061,0.0152,0.0000,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,1,0.6311,0.2913,0.4444,16000,PrivacySuppressed
3508,Tennessee College of Applied Technology-Athens,Athens,TN,0.0,0.0,0.0,0,NaN,NaN,0.0,237.0,0.8776,0.0464,0.0422,0.0084,0.0127,0.0000,0.0127,0.0,0.0000,0.0000,1,0.4252,0.0000,0.3960,26600,PrivacySuppressed

('TN', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3506,American Baptist College,Nashville,TN,1.0,0.0,0.0,1,NaN,NaN,0.0,157.0,0.0191,0.9745,0.0064,0.0000,0.0000,0.000,0.0000,0.00,0.0000,0.2994,1,0.6014,0.8252,0.7305,PrivacySuppressed,25000
3510,Baptist Memorial College of Health Sciences,Memphis,TN,0.0,0.0,0.0,1,NaN,NaN,0.0,1169.0,0.5158,0.4251,0.0197,0.0188,0.0000,0.000,0.0026,0.00,0.0180,0.5500,1,0.5653,0.8339,0.5059,54100,30000
3511,Belmont University,Nashville,TN,0.0,0.0,0.0,1,580.0,580.0,0.0,5778.0,0.8049,0.0433,0.0467,0.0197,0.0026,0.001,0.0348,0.01,0.0369,0.0620,1,0.1729,0.6090,0.0848,41800,22707

('TX', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3611,Alvin Community College,Alvin,TX,0.0,0.0,0.0,0,NaN,NaN,0.0,4682.0,0.5126,0.1034,0.3093,0.0500,0.0064,0.0038,0.0002,0.0000,0.0143,0.7123,1,0.1549,0.0625,0.2841,34500,6750
3612,Amarillo College,Amarillo,TX,0.0,0.0,0.0,0,NaN,NaN,0.0,9346.0,0.5104,0.0507,0.3888,0.0293,0.0122,0.0000,0.0000,0.0001,0.0085,0.6922,1,0.3786,0.1573,0.3431,31700,10950
3613,Angelina College,Lufkin,TX,0.0,0.0,0.0,0,NaN,NaN,0.0,3825.0,0.5854,0.1508,0.2207,0.0076,0.0073,0.0013,0.0264,0.0005,0.0000,0.5600,1,0.5308,0.0000,0.2603,26900,PrivacySuppressed

('TX', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3610,Abilene Christian University,Abilene,TX,0.0,0.0,0.0,1,530.0,545.0,0.0,3572.0,0.6739,0.0798,0.1414,0.0090,0.0039,0.0000,0.0454,0.0423,0.0045,0.0468,1,0.2595,0.5527,0.0381,40200,25985
3615,Arlington Baptist College,Arlington,TX,0.0,0.0,0.0,1,NaN,NaN,0.0,214.0,0.6916,0.1822,0.0935,0.0047,0.0234,0.0000,0.0000,0.0047,0.0000,0.1682,1,0.4978,0.4892,0.2251,34200,22905
3618,Austin College,Sherman,TX,0.0,0.0,0.0,1,600.0,595.0,0.0,1272.0,0.5550,0.0668,0.1942,0.1392,0.0110,0.0008,0.0031,0.0267,0.0031,0.0016,1,0.2867,0.7581,0.0124,47800,26000

('UT', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3802,AmeriTech College-Provo,Provo,UT,0.0,0.0,0.0,0,NaN,NaN,0.0,131.0,0.5573,0.0153,0.3130,0.0076,0.0229,0.0229,0.0153,0.0,0.0458,0.0000,1,0.7295,0.8074,0.3526,24700,24370
3803,Bridgerland Applied Technology College,Logan,UT,0.0,0.0,0.0,0,NaN,NaN,0.0,751.0,0.8762,0.0067,0.0599,0.0107,0.0093,0.0013,0.0107,0.0,0.0253,0.6525,1,0.2017,0.0000,0.4148,24300,PrivacySuppressed
3806,Broadview University-West Jordan,West Jordan,UT,0.0,0.0,0.0,0,NaN,NaN,0.0,197.0,0.7310,0.0406,0.1421,0.0102,0.0051,0.0102,0.0102,0.0,0.0508,0.3452,1,0.6943,0.8035,0.5590,25500,28458

('UT', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3804,Brigham Young University-Provo,Provo,UT,0.0,0.0,0.0,1,630.0,630.0,0.0,27163.0,0.8320,0.005,0.0563,0.0195,0.0037,0.0058,0.0344,0.0314,0.0118,0.0981,1,0.3702,0.1921,0.1220,57200,11000
3817,Latter-day Saints Business College,Salt Lake City,UT,0.0,0.0,0.0,1,NaN,NaN,0.0,2006.0,0.6122,0.001,0.1246,0.0145,0.0060,0.0115,0.0429,0.1775,0.0100,0.3365,1,0.3319,0.2144,0.2235,35100,5799
3818,Everest College-Salt Lake City,West Valley City,UT,0.0,0.0,0.0,1,NaN,NaN,0.0,217.0,0.4424,0.023,0.2719,0.0276,0.0553,0.0691,0.0230,0.0000,0.0876,0.2811,0,0.7030,0.5619,0.5371,24400,10632.5

('VA', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
704,Medtech Institute,Falls Church,VA,0.0,0.0,0.0,0,NaN,NaN,0.0,1371.0,0.0146,0.4559,0.4544,0.0255,0.0058,0.0000,0.0372,0.0,0.0066,0.0000,1,0.7097,0.4198,0.2039,26300,9236
3850,Bar Palma Beauty Careers Academy,Roanoke,VA,0.0,0.0,0.0,0,NaN,NaN,0.0,71.0,0.4366,0.4930,0.0282,0.0000,0.0000,0.0000,0.0000,0.0,0.0423,0.1831,1,0.4367,0.4177,0.6944,16900,9731
3851,Advanced Technology Institute,Virginia Beach,VA,0.0,0.0,0.0,0,NaN,NaN,0.0,717.0,0.5174,0.3654,0.0600,0.0265,0.0098,0.0014,0.0153,0.0,0.0042,0.0000,1,0.3374,0.3010,0.5364,38000,16279

('VA', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3852,Averett University,Danville,VA,0.0,0.0,0.0,1,460.0,469.0,0.0,836.0,0.6112,0.2835,0.0359,0.0072,0.0072,0.0000,0.0000,0.0502,0.0048,0.0227,1,0.5120,0.7879,0.0992,42400,25000
3853,Bluefield College,Bluefield,VA,0.0,0.0,0.0,1,450.0,455.0,0.0,897.0,0.6611,0.1784,0.0401,0.0513,0.0000,0.0000,0.0334,0.0212,0.0145,0.1193,1,0.4540,0.6989,0.4241,40000,18873
3854,Bridgewater College,Bridgewater,VA,0.0,0.0,0.0,1,520.0,525.0,0.0,1768.0,0.7568,0.1012,0.0419,0.0096,0.0045,0.0006,0.0464,0.0074,0.0317,0.0051,1,0.2754,0.7348,0.0114,40800,27000

('VI', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
4216,University of the Virgin Islands,Charlotte Amalie,VI,1.0,0.0,0.0,0,400.0,390.0,0.0,1971.0,0.0533,0.725,0.0741,0.0051,0.002,0.0,0.0101,0.0589,0.0715,0.3059,1,0.5161,0.3224,0.3196,31800,15150

('VI', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
7404,University of the Virgin Islands-Albert A. Sheen,St. Croix,VI,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,31800,15150

('VT', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3829,Bennington College,Bennington,VT,0.0,0.0,0.0,0,NaN,NaN,0.0,631.0,0.6910,0.0127,0.0507,0.0269,0.0174,0.0,0.0349,0.1284,0.038,0.0048,1,0.2342,0.5703,0.0097,24600,27000
3830,Burlington College,Burlington,VT,0.0,0.0,0.0,0,NaN,NaN,0.0,178.0,0.7247,0.0618,0.0449,0.0112,0.0000,0.0,0.0225,0.0169,0.118,0.0843,0,0.4670,0.7123,0.2545,26000,25000
3831,Castleton University,Castleton,VT,0.0,0.0,0.0,0,480.0,490.0,0.0,1890.0,0.8534,0.0159,0.0233,0.0063,0.0058,0.0,0.0153,0.0169,0.063,0.0910,1,0.2938,0.6399,0.0938,34900,25000

('VT', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3835,Green Mountain College,Poultney,VT,0.0,0.0,0.0,1,NaN,NaN,0.0,558.0,0.6004,0.0502,0.0376,0.0108,0.0072,0.0,0.0090,0.0323,0.2527,0.0197,1,0.3847,0.7051,0.0407,30100,25449
3843,Saint Michael's College,Colchester,VT,0.0,0.0,0.0,1,NaN,NaN,0.0,2038.0,0.8611,0.0236,0.0451,0.0201,0.0015,0.0,0.0191,0.0280,0.0015,0.0108,1,0.1682,0.6456,0.0220,46600,27400
3845,College of St Joseph,Rutland,VT,0.0,0.0,0.0,1,NaN,NaN,0.0,230.0,0.6652,0.2261,0.1000,0.0000,0.0000,0.0,0.0000,0.0087,0.0000,0.1000,1,0.6193,0.7216,0.2557,34700,24127

('WA', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3943,Beauty Academy,Wenatchee,WA,0.0,0.0,0.0,0,NaN,NaN,0.0,68.0,0.5735,0.0000,0.3676,0.0294,0.0000,0.0,0.0294,0.0,0.0000,0.0000,1,0.6385,0.6154,0.3896,PrivacySuppressed,8718.5
3944,The Art Institute of Seattle,Seattle,WA,0.0,0.0,0.0,0,NaN,NaN,0.0,1378.0,0.0450,0.0015,0.1277,0.0102,0.0007,0.0,0.0000,0.0,0.8149,0.3128,1,0.4272,0.6662,0.3795,34100,25937.5
3945,Evergreen Beauty and Barber College-Bellevue,Bellevue,WA,0.0,0.0,0.0,0,NaN,NaN,0.0,90.0,0.7111,0.0556,0.0333,0.0778,0.0000,0.0,0.0444,0.0,0.0778,0.0000,1,0.3314,0.3314,0.4400,PrivacySuppressed,7917

('WA', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3967,Gonzaga University,Spokane,WA,0.0,0.0,0.0,1,590.0,605.0,0.0,4754.0,0.7316,0.0101,0.0915,0.0450,0.0055,0.0023,0.0541,0.028,0.0320,0.0128,1,0.1832,0.5155,0.0298,53000,25500
3981,Trinity Lutheran College,Everett,WA,0.0,0.0,0.0,1,NaN,NaN,0.0,209.0,0.5263,0.1722,0.1818,0.0670,0.0144,0.0191,0.0048,0.000,0.0144,0.0478,0,0.4948,0.7010,0.2165,37100,25000
3985,Northwest University,Kirkland,WA,0.0,0.0,0.0,1,517.0,496.0,0.0,1453.0,0.6827,0.0447,0.0853,0.0475,0.0124,0.0165,0.0447,0.020,0.0461,0.1239,1,0.3790,0.6787,0.3067,37700,23724.5

('WI', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
4063,Advanced Institute of Hair Design-Glendale,Glendale,WI,0.0,0.0,0.0,0,NaN,NaN,0.0,82.0,0.5610,0.2195,0.0976,0.0854,0.0122,0.0000,0.0244,0.0000,0.0000,0.0000,1,0.5089,0.5325,0.1736,24000,10314
4064,VICI Aveda Institute,Greenfield,WI,0.0,0.0,0.0,0,NaN,NaN,0.0,125.0,0.8720,0.0160,0.0400,0.0080,0.0000,0.0000,0.0400,0.0000,0.0240,0.0000,1,0.5069,0.6406,0.2059,24000,10314
4066,Madison Area Technical College,Madison,WI,0.0,0.0,0.0,0,NaN,NaN,0.0,12617.0,0.7321,0.0697,0.0845,0.0421,0.0058,0.0007,0.0390,0.0165,0.0096,0.6223,1,0.3259,0.3565,0.5080,35000,14250

('WI', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
4065,Alverno College,Milwaukee,WI,0.0,0.0,1.0,1,NaN,NaN,0.0,1689.0,0.5269,0.1622,0.2049,0.0521,0.0148,0.0030,0.0308,0.0053,0.0000,0.2481,1,0.6096,0.8743,0.3464,37100,32606.5
4070,Cardinal Stritch University,Milwaukee,WI,0.0,0.0,0.0,1,465.0,480.0,0.0,2304.0,0.5647,0.2240,0.0916,0.0200,0.0052,0.0017,0.0239,0.0421,0.0269,0.0638,1,0.4278,0.7356,0.6632,48500,27000
4071,Carroll University,Waukesha,WI,0.0,0.0,0.0,1,527.0,542.0,0.0,2934.0,0.8596,0.0099,0.0596,0.0327,0.0007,0.0007,0.0208,0.0119,0.0041,0.0838,1,0.2709,0.7137,0.1119,41300,27000

('WV', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2842,Scott College of Cosmetology,Wheeling,WV,0.0,0.0,0.0,0,NaN,NaN,0.0,77.0,0.8961,0.0390,0.0,0.013,0.0,0.0,0.0519,0.0,0.0,0.0000,1,0.5276,0.4961,0.1111,14800,9250
4019,B M Spurr School of Practical Nursing,Glen Dale,WV,0.0,0.0,0.0,0,NaN,NaN,0.0,31.0,1.0000,0.0000,0.0,0.000,0.0,0.0,0.0000,0.0,0.0,0.0000,1,0.4722,0.0000,0.4444,PrivacySuppressed,PrivacySuppressed
4020,Ben Franklin Career Center,Dunbar,WV,0.0,0.0,0.0,0,NaN,NaN,0.0,435.0,0.8989,0.0989,0.0,0.000,0.0,0.0,0.0023,0.0,0.0,0.7885,1,0.1761,0.0000,0.7568,20800,PrivacySuppressed

('WV', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
4016,Alderson Broaddus University,Philippi,WV,0.0,0.0,0.0,1,475.0,485.0,0.0,1024.0,0.7354,0.1611,0.0400,0.0127,0.0039,0.0010,0.0098,0.0342,0.0020,0.0342,1,0.4800,0.8945,0.0722,46000,27000
4018,Appalachian Bible College,Mount Hope,WV,0.0,0.0,0.0,1,514.0,487.0,0.0,196.0,0.9643,0.0000,0.0153,0.0000,0.0051,0.0102,0.0000,0.0051,0.0000,0.0612,1,0.4388,0.2770,0.0899,28700,9300
4027,Davis & Elkins College,Elkins,WV,0.0,0.0,0.0,1,485.0,490.0,0.0,839.0,0.6341,0.0453,0.0012,0.0024,0.0048,0.0000,0.0000,0.1466,0.1657,0.0167,1,0.4188,0.6579,0.1133,35000,23840.5

('WY', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
4128,Casper College,Casper,WY,0.0,0.0,0.0,0,NaN,NaN,0.0,2449.0,0.8689,0.0147,0.0523,0.0073,0.0037,0.0020,0.0163,0.0078,0.0269,0.3250,1,0.2188,0.1455,0.3447,34800,10764
4129,Central Wyoming College,Riverton,WY,0.0,0.0,0.0,0,NaN,NaN,0.0,1099.0,0.7097,0.0136,0.0846,0.0055,0.1301,0.0018,0.0300,0.0073,0.0173,0.4377,1,0.1700,0.0967,0.3992,25200,8757
4130,Eastern Wyoming College,Torrington,WY,0.0,0.0,0.0,0,NaN,NaN,0.0,681.0,0.8502,0.0250,0.0881,0.0059,0.0132,0.0073,0.0088,0.0015,0.0000,0.3275,1,0.1729,0.1166,0.2371,25900,10000

In [64]:
# Calling the head method on your groupby object gets the first rows of each group:

grouped.head(2).head(6)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
10,Birmingham Southern College,Birmingham,AL,0.0,0.0,0.0,1,560.0,560.0,0.0,1180.0,0.7983,0.1102,0.0195,0.0517,0.0102,0.0000,0.0051,0.0000,0.0051,0.0017,1,0.1920,0.4809,0.0152,44200,27000
43,Prince Institute-Southeast,Elmhurst,IL,0.0,0.0,0.0,0,NaN,NaN,0.0,84.0,0.7976,0.1310,0.0714,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.7857,0.9375,0.6569,PrivacySuppressed,20992
60,University of Alaska Anchorage,Anchorage,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,12865.0,0.5747,0.0358,0.0761,0.0778,0.0653,0.0086,0.0980,0.0181,0.0457,0.4539,1,0.2385,0.2647,0.4386,42500,19449.5

#### the following operation selects the first and last rows from each group:

In [65]:
grouped.nth([1, -1]).head(6)

                       CITY  CURROPER  DISTANCEONLY GRAD_DEBT_MDN_SUPP  HBCU  \
STABBR RELAFFIL
AK     0          Fairbanks         1           0.0              19355   0.0
       0             Barrow         1           0.0  PrivacySuppressed   0.0
       1          Anchorage         1           0.0              23250   0.0
       1           Soldotna         1           0.0  PrivacySuppressed   0.0
AL     0         Birmingham         1           0.0            21941.5   0.0
       0             Dothan         1           0.0  PrivacySuppressed   0.0

                                                  INSTNM MD_EARN_WNE_P10  \
STABBR RELAFFIL
AK     0                  University of Alaska Fairbanks           36200
       0                               Ilisagvik College           24900
       1                       Alaska Pacific University           47000
       1                        Alaska Christian College             NaN
AL     0             University of Alabama at Birmingham           39700
       0         Alabama College of Osteopathic Medicine             NaN

                 MENONLY  PCTFLOAN  PCTPELL  PPTUG_EF  SATMTMID  SATVRMID  \
STABBR RELAFFIL
AK     0             0.0    0.2550   0.2263    0.3887       NaN       NaN
       0             0.0    0.0000   0.1323    0.6239       NaN       NaN
       1             0.0    0.5297   0.3152    0.3745     503.0     555.0
       1             0.0    0.6792   0.8868    0.0735       NaN       NaN
AL     0             0.0    0.5214   0.3460    0.2607     565.0     570.0
       0             0.0       NaN      NaN       NaN       NaN       NaN

                 UG25ABV     UGDS  UGDS_2MOR  UGDS_AIAN  UGDS_ASIAN  \
STABBR RELAFFIL
AK     0          0.4519   5536.0     0.0401     0.1284      0.0126
       0          0.6498    109.0     0.0000     0.6881      0.0826
       1          0.4910    275.0     0.0945     0.1855      0.0255
       1          0.2264     68.0     0.0147     0.7794      0.0000
AL     0          0.2422  11383.0     0.0368     0.0022      0.0518
       0             NaN      NaN        NaN        NaN         NaN

                 UGDS_BLACK  UGDS_HISP  UGDS_NHPI  UGDS_NRA  UGDS_UNKN  \
STABBR RELAFFIL
AK     0             0.0210     0.0522     0.0027    0.0110     0.3060
       0             0.0183     0.0092     0.0459    0.0183     0.0000
       1             0.0291     0.0364     0.0109    0.0000     0.0873
       1             0.0000     0.0147     0.0000    0.0000     0.1324
AL     0             0.2600     0.0283     0.0007    0.0179     0.0100
       0                NaN        NaN        NaN       NaN        NaN

                 UGDS_WHITE  WOMENONLY
STABBR RELAFFIL
AK     0             0.4259        0.0
       0             0.1376        0.0
       1             0.5309        0.0
       1             0.0588        0.0
AL     0             0.5922        0.0
       0                NaN        0.0

## Filtering for states with a minority majority
#### we use the college dataset to find all the states that have more non-white undergraduate students than white. As this is a dataset from the US, whites form the majority and therefore, we are looking for states with a minority majority.

In [66]:
college = pd.read_csv('master/data/college.csv', index_col='INSTNM')
grouped = college.groupby('STABBR')
grouped.ngroups

59

In [67]:
college['STABBR'].nunique() # verifying the same number

59

In [68]:
# Par la suite, on passera en fait au paramètre df chacun des groupes constitutif du groupby

def check_minority(df, threshold):
    
    # Nous avons les % de chaque race et le nombre total d'éléves par college et nous voulons
    # determiner les états qui ont le plus d'éléves non-white, nous devons donc:
    
    
    # Cacluler la proportion de non-white dans chaque college
    minority_pct = 1 - df['UGDS_WHITE']
    
    # En déduire le nombre de non-white dans tout l'état
    total_minority = (df['UGDS'] * minority_pct).sum()
    
    # Caluler le total d'élèves dans l'état
    total_ugds = df['UGDS'].sum()
    
    # En déduire la proportion de non-white dans tout l'état
    total_minority_pct = total_minority / total_ugds
    
    # Non renoyer un booléen nous indiquant si oui ou non cette proportion globale de minorité dans l'état
    # est supérieure à un certain seuil entré au préalble en paramètre
    return total_minority_pct > threshold

In [69]:
# ptits test perso sur le df college entier
# Je recherche manuellement ou est le threshold

check_minority(college, 0.48753462)

True

In [70]:
tot_ugds = college['UGDS'].sum().astype(int)
tot_ugds

16200904

In [71]:
tot_min = ((1 - college['UGDS_WHITE']) * college['UGDS']).sum()
tot_min

7898501.594700001

In [72]:
min_pct = tot_min / tot_ugds
min_pct

0.4875346211976814

In [73]:
college.groupby(['STABBR', 'RELAFFIL'])['UGDS'] \
       .agg(pct_between, 1000, 10000).head(9)

STABBR  RELAFFIL
AK      0           0.428571
        1           0.000000
AL      0           0.458333
        1           0.375000
AR      0           0.397059
        1           0.166667
AS      0           1.000000
AZ      0           0.233871
        1           0.111111
Name: UGDS, dtype: float64

In [74]:
# ! : The filter method of the groupby object is completely different
# than the DataFrame filter method covered in the Selecting columns with methods recipe from Chap. 2.

# This filter method takes as first parameter a user-defined function (here check_minority)
# and as subsequent parameters, *args and **kwargs qui renvoient aux argument suppélemntaires de la fonction check_minority.
# In other words we can then pass the user-defined function parameters there.

# Mystère: pourquoi est-on contraint de mettre le keyword 'threshold' ici contrairement à 
# .agg(pct_between, 1000, 10000) plus haut? 

college_filtered = grouped.filter(check_minority, threshold=.5)
college_filtered.head(30)

# Nous constatons que l'ordre des lignes n'est pas celui du groupby() mais celui du tableau d'origine
# duquel ont été supprimés les lignes des groupes ne correspondant pas au critère defini (dont la fonction de filtrage
# renvoi False)

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,,,,,,
Everest College-Phoenix,Phoenix,AZ,0.0,0.0,0.0,1,NaN,NaN,0.0,4102.0,0.3162,0.4405,0.0763,0.0017,0.0207,0.0046,0.0373,0.0000,0.1026,0.4749,0,0.8291,0.7151,0.6700,28600,9500
Collins College,Phoenix,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,83.0,0.3253,0.0843,0.1566,0.0000,0.0241,0.0000,0.0241,0.0000,0.3855,0.3373,0,0.7205,0.8228,0.4764,25700,47000
Empire Beauty School-Paradise Valley,Phoenix,AZ,0.0,0.0,0.0,1,NaN,NaN,0.0,25.0,0.7600,0.0400,0.1200,0.0000,0.0000,0.0400,0.0400,0.0000,0.0000,0.1600,0,0.6349,0.5873,0.4651,17800,9588
Empire Beauty School-Tucson,Tucson,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,126.0,0.2143,0.0873,0.5794,0.0159,0.0873,0.0079,0.0000,0.0000,0.0079,0.2222,1,0.7962,0.6615,0.4229,18200,9833
Thunderbird School of Global Management,Glendale,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,1.0,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0,0.0000,0.0000,0.0000,118900,PrivacySuppressed
American Indian College Inc,Phoenix,AZ,0.0,0.0,0.0,1,NaN,NaN,0.0,89.0,0.0449,0.0562,0.1461,0.0225,0.6854,0.0449,0.0000,0.0000,0.0000,0.0787,0,0.7500,0.5375,0.4684,PrivacySuppressed,PrivacySuppressed
American Institute of Technology,Phoenix,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,266.0,0.4737,0.2481,0.1729,0.0226,0.0113,0.0038,0.0414,0.0000,0.0263,0.0000,1,0.4276,0.6477,0.9137,30800,6135
Carrington College-Phoenix,Phoenix,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,617.0,0.2674,0.0616,0.5754,0.0113,0.0713,0.0000,0.0049,0.0000,0.0081,0.0000,1,0.7287,0.4754,0.2722,25100,9500
Carrington College-Mesa,Mesa,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,718.0,0.3677,0.0543,0.3886,0.0195,0.1476,0.0056,0.0125,0.0000,0.0042,0.0139,1,0.7123,0.5455,0.4588,25100,9500
Carrington College-Tucson,Tucson,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,424.0,0.2759,0.0542,0.5943,0.0071,0.0425,0.0024,0.0142,0.0000,0.0094,0.0000,1,0.7434,0.5384,0.3568,25100,9500
CollegeAmerica-Flagstaff,Flagstaff,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,176.0,0.1989,0.0114,0.1250,0.0000,0.6307,0.0000,0.0057,0.0000,0.0284,0.0000,1,0.8732,0.8592,0.6277,24000,25607.5
Arizona Academy of Beauty-East,Tucson,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,32.0,0.4688,0.0625,0.3438,0.0000,0.0000,0.0625,0.0625,0.0000,0.0000,0.0000,1,0.6552,0.4655,0.4894,16300,5500
Arizona Automotive Institute,Glendale,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,628.0,0.3774,0.0812,0.3328,0.0048,0.1274,0.0430,0.0000,0.0000,0.0334,0.0000,0,0.7919,0.7592,0.6000,33500,13000
Brookline College-Phoenix,Phoenix,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,1357.0,0.3478,0.1990,0.3088,0.0214,0.0575,0.0037,0.0265,0.0007,0.0346,0.3051,1,0.6870,0.6783,0.6389,22200,9500
Arizona State University-Tempe,Tempe,AZ,0.0,0.0,0.0,0,565.0,580.0,0.0,39316.0,0.5457,0.0394,0.1880,0.0686,0.0133,0.0024,0.0401,0.0942,0.0083,0.0902,1,0.3192,0.4527,0.1414,45100,20229
Arizona Western College,Yuma,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,7218.0,0.1793,0.0292,0.6952,0.0100,0.0114,0.0030,0.0109,0.0313,0.0296,0.6550,1,0.5581,0.0469,0.3166,27000,5500
University of Arizona,Tucson,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,32646.0,0.5323,0.0355,0.2535,0.0555,0.0115,0.0027,0.0419,0.0574,0.0096,0.1012,1,0.3349,0.4055,0.0910,44000,19000
Southwest University of Visual Arts-Tucson,Tucson,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,161.0,0.4534,0.0435,0.3168,0.0062,0.0311,0.0000,0.0000,0.0000,0.1491,0.2795,1,0.4469,0.4292,0.8657,27200,49750
Central Arizona College,Coolidge,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,5275.0,0.4610,0.0720,0.2709,0.0199,0.0476,0.0063,0.0370,0.0036,0.0817,0.6535,1,0.4708,0.1680,0.4518,27500,9993
Brown Mackie College-Tucson,Tucson,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,611.0,0.3552,0.1211,0.4354,0.0180,0.0573,0.0033,0.0000,0.0000,0.0098,0.0000,1,0.8567,0.7895,0.6520,27400,22141.5
Charles of Italy Beauty College,Lake Havasu City,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,54.0,0.7593,0.0185,0.2037,0.0000,0.0185,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.7405,0.6107,0.4819,14500,7389
Cochise County Community College District,Douglas,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,3759.0,0.4185,0.0492,0.4570,0.0130,0.0074,0.0067,0.0229,0.0040,0.0213,0.5539,1,0.3360,0.0721,0.4534,28600,6500
Empire Beauty School-Flagstaff,Flagstaff,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,60.0,0.5167,0.0333,0.1333,0.0000,0.2833,0.0000,0.0333,0.0000,0.0000,0.0000,1,0.7381,0.6786,0.3208,17800,10050
Empire Beauty School-Chandler,Chandler,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,97.0,0.2680,0.2165,0.3918,0.0206,0.0722,0.0103,0.0206,0.0000,0.0000,0.2577,1,0.7714,0.7143,0.4690,17800,10050
Cortiva Institute-Tucson,Tucson,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,130.0,0.4923,0.0231,0.3923,0.0154,0.0231,0.0000,0.0077,0.0000,0.0462,0.4231,1,0.6290,0.8190,0.5664,20000,6333
Avalon School of Cosmetology-Mesa,Mesa,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,360.0,0.5056,0.0972,0.3028,0.0111,0.0333,0.0028,0.0250,0.0000,0.0222,0.3667,1,0.6218,0.6495,0.2930,19600,11458
Eastern Arizona College,Thatcher,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,4634.0,0.5850,0.0457,0.2098,0.0108,0.0872,0.0056,0.0108,0.0093,0.0358,0.6196,1,0.1859,0.0000,0.5279,28700,PrivacySuppressed
Embry-Riddle Aeronautical University-Prescott,Prescott,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,1971.0,0.5753,0.0167,0.0558,0.0553,0.0036,0.0056,0.0939,0.0989,0.0949,0.0518,1,0.2501,0.5189,0.1208,61500,24411
Frank Lloyd Wright School of Architecture,Scottsdale,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,0.0000,NaN,PrivacySuppressed
Glendale Community College,Glendale,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,16156.0,0.4431,0.0712,0.3424,0.0430,0.0164,0.0032,0.0221,0.0106,0.0480,0.6157,1,0.3824,0.1784,0.3324,33600,7000

In [75]:
# On constate bien que soit tous les colleges d'un état restent dans le DF soit ils sont tous supprimés

college.query("STABBR == 'AZ'").size

3458

In [76]:
college_filtered.query("STABBR == 'AZ'").size

3458

In [77]:
college.query("STABBR == 'AK'").size

260

In [78]:
college_filtered.query("STABBR == 'AK'").size

0

In [79]:
college.shape

(7535, 26)

In [80]:
college_filtered.shape

(3028, 26)

In [81]:
college_filtered['STABBR'].nunique()

20

### TM

In [82]:
college_filtered_20 = grouped.filter(check_minority, threshold=.2)
college_filtered_20.shape

(7461, 26)

In [83]:
college_filtered_20['STABBR'].nunique()

57

In [84]:
college_filtered_70 = grouped.filter(check_minority, threshold=.7)
college_filtered_70.shape

(957, 26)

In [85]:
college_filtered_70['STABBR'].nunique()

10

## Transforming through a weight loss bet
#### In this recipe, we use simulated data from two individuals to track the percentage of weight loss over the course of four months. At the end of each month, the winner is the one who lost the highest percentage of body weight for that month. To track weight loss, we group our data by month and person, then call the transform method to find the percentage weight loss at each week from the start of the month.

In [86]:
weight_loss = pd.read_csv('master/data/weight_loss.csv')
weight_loss

   Name Month    Week  Weight
0   Bob   Jan  Week 1     291
1   Amy   Jan  Week 1     197
2   Bob   Jan  Week 2     288
3   Amy   Jan  Week 2     189
4   Bob   Jan  Week 3     283
5   Amy   Jan  Week 3     189
6   Bob   Jan  Week 4     283
7   Amy   Jan  Week 4     190
8   Bob   Feb  Week 1     283
9   Amy   Feb  Week 1     190
10  Bob   Feb  Week 2     275
11  Amy   Feb  Week 2     184
12  Bob   Feb  Week 3     268
13  Amy   Feb  Week 3     177
14  Bob   Feb  Week 4     268
15  Amy   Feb  Week 4     173
16  Bob   Mar  Week 1     268
17  Amy   Mar  Week 1     173
18  Bob   Mar  Week 2     271
19  Amy   Mar  Week 2     173
20  Bob   Mar  Week 3     265
21  Amy   Mar  Week 3     170
22  Bob   Mar  Week 4     261
23  Amy   Mar  Week 4     170
24  Bob   Apr  Week 1     261
25  Amy   Apr  Week 1     170
26  Bob   Apr  Week 2     258
27  Amy   Apr  Week 2     164
28  Bob   Apr  Week 3     253
29  Amy   Apr  Week 3     164
30  Bob   Apr  Week 4     250
31  Amy   Apr  Week 4     161

In [87]:
# 2 personnes * 4 semaines * 4 mois = 32 lignes
len(weight_loss)

32

In [88]:
weight_loss.query('Month  == "Jan"')

  Name Month    Week  Weight
0  Bob   Jan  Week 1     291
1  Amy   Jan  Week 1     197
2  Bob   Jan  Week 2     288
3  Amy   Jan  Week 2     189
4  Bob   Jan  Week 3     283
5  Amy   Jan  Week 3     189
6  Bob   Jan  Week 4     283
7  Amy   Jan  Week 4     190

In [89]:
def find_perc_loss(s):
    return (s - s.iloc[0]) / s.iloc[0]

# Cette fonction est donc désignée telle que si on lui passe un mois de données d'un concurrent, soit un groupe ou une Serie
# de 4 valeurs, elle renvoi également une Serie de 4 valeurs correspondant aux pourcentage de perte de poid pour chauqe semaine
# du mois

In [90]:
# Nous testons notre fonction:

bob_jan = weight_loss.query('Name=="Bob" and Month=="Jan"')
bob_jan

  Name Month    Week  Weight
0  Bob   Jan  Week 1     291
2  Bob   Jan  Week 2     288
4  Bob   Jan  Week 3     283
6  Bob   Jan  Week 4     283

In [91]:
# Il y a une imprecisition dans l'énoncé ici: si les poids sont prelevés en fin de semaine,
# nous ne calculons ainsi la perte de poids que sur 3 semaines.

find_perc_loss(bob_jan['Weight'])

0    0.000000
2   -0.010309
4   -0.027491
6   -0.027491
Name: Weight, dtype: float64

In [92]:
# Je crée en amont les variables pour plus de clarté.
# D'abord je crée un groupby object, qu'on ne peux malheuersment que sommairement inspecter car nous ne definissons
# a ce stade aucune fonction d'aggregation.

weight_loss_gr = weight_loss.groupby(['Name', 'Month'])['Weight']

In [93]:
# 2 personnes et 4 mois, nous aurons donc 8 groupes

weight_loss_gr.ngroups

8

In [94]:
list(weight_loss_gr.groups)

[('Amy', 'Apr'),
 ('Amy', 'Feb'),
 ('Amy', 'Jan'),
 ('Amy', 'Mar'),
 ('Bob', 'Apr'),
 ('Bob', 'Feb'),
 ('Bob', 'Jan'),
 ('Bob', 'Mar')]

In [95]:
weight_loss

   Name Month    Week  Weight
0   Bob   Jan  Week 1     291
1   Amy   Jan  Week 1     197
2   Bob   Jan  Week 2     288
3   Amy   Jan  Week 2     189
4   Bob   Jan  Week 3     283
5   Amy   Jan  Week 3     189
6   Bob   Jan  Week 4     283
7   Amy   Jan  Week 4     190
8   Bob   Feb  Week 1     283
9   Amy   Feb  Week 1     190
10  Bob   Feb  Week 2     275
11  Amy   Feb  Week 2     184
12  Bob   Feb  Week 3     268
13  Amy   Feb  Week 3     177
14  Bob   Feb  Week 4     268
15  Amy   Feb  Week 4     173
16  Bob   Mar  Week 1     268
17  Amy   Mar  Week 1     173
18  Bob   Mar  Week 2     271
19  Amy   Mar  Week 2     173
20  Bob   Mar  Week 3     265
21  Amy   Mar  Week 3     170
22  Bob   Mar  Week 4     261
23  Amy   Mar  Week 4     170
24  Bob   Apr  Week 1     261
25  Amy   Apr  Week 1     170
26  Bob   Apr  Week 2     258
27  Amy   Apr  Week 2     164
28  Bob   Apr  Week 3     253
29  Amy   Apr  Week 3     164
30  Bob   Apr  Week 4     250
31  Amy   Apr  Week 4     161

In [96]:
weight_loss_gr.agg('mean')

Name  Month
Amy   Apr      164.75
      Feb      181.00
      Jan      191.25
      Mar      171.50
Bob   Apr      255.50
      Feb      273.50
      Jan      286.25
      Mar      266.25
Name: Weight, dtype: float64

In [97]:
# Pourquoi ici est-il impossible d'utiliser .agg() et doit-on utiliser .transform()?
# 
# Rappellons ce qu'il se passe lorsque nous operons un groupby() avec .agg():
# 
#     - D'abord .groupby() regroupe toutes les lignes du tableau selon les valeurs uniques des grouping columns
#       spécifiées (pas de changement de len), et isole les aggregating columns (changement du nombre de colonnes)
# 
#     - Puis la fonction d'aggrégation effectue une certaine opération sur les groupes des aggregating columns et renvoi une
#       valeur unique pour chaque groupe.
# 
#     - Etant donné que nous avons correctement indiqué la manière dont nous souhaitons aggréger les valeurs des AGG-COL
#       de chaque groupe, il est à présent possible d'aggreger chaque groupe en une seule ligne. Le DF final aura donc
#       autant de lignes que le nombre de groupes constitutifs du groupby()
#
#    - Notons que la repartition par groupes du groupby() aura servit 2 fois: une fois pour indiquer sur quelles valeurs
#      effectuer les calculs puis une autre fois pour designer les colonnes à aggreger en une seule.
# 
# 
# Rappellons également ce qu'il se passe pour filter():
# 
#     - regroupage idem
# 
#     - operations idem sauf qu'on obtiens pour chaque groupe un booléen et non une valeur
# 
#     - le retour est le DF d'origine duquel on été supprimés les lignes de groupes qui ont renvoyé False.
#       Le DF final aura donc moins (ou autant) de lignes que le DF d'origine
# 
# 
# Etudions ce qu'il se passe pour transform():
# 
#     - regroupage idem
# 
#     - operations idem sauf que ce n'est plus une unique valeur qui est retournée pour chaque groupe mais un nombre de valeurs
#       identique à celui du groupe passé. 
# 
#     -  Le DF final a donc autant de lignes que le DF d'origine et les lignes conservent l'ordre du DF d'origine
# 
#     - Le groupage n'aura donc ici servit qu'une fois pour designer les groupes à partir
#       desquels on calcule chaque valeur.
# 

pcnt_loss = weight_loss.groupby(['Name', 'Month'])['Weight'].transform(find_perc_loss)
pcnt_loss

0     0.000000
1     0.000000
2    -0.010309
3    -0.040609
4    -0.027491
5    -0.040609
6    -0.027491
7    -0.035533
8     0.000000
9     0.000000
10   -0.028269
11   -0.031579
12   -0.053004
13   -0.068421
14   -0.053004
15   -0.089474
16    0.000000
17    0.000000
18    0.011194
19    0.000000
20   -0.011194
21   -0.017341
22   -0.026119
23   -0.017341
24    0.000000
25    0.000000
26   -0.011494
27   -0.035294
28   -0.030651
29   -0.035294
30   -0.042146
31   -0.052941
Name: Weight, dtype: float64

In [98]:
weight_loss['Perc Weight Loss'] = pcnt_loss.round(3)

# Pour raccourcir le retour nous ne selectionnons que les 2 premiers mois de Bob:
weight_loss.query('Name=="Bob" and Month in ["Jan", "Feb"]')

   Name Month    Week  Weight  Perc Weight Loss
0   Bob   Jan  Week 1     291             0.000
2   Bob   Jan  Week 2     288            -0.010
4   Bob   Jan  Week 3     283            -0.027
6   Bob   Jan  Week 4     283            -0.027
8   Bob   Feb  Week 1     283             0.000
10  Bob   Feb  Week 2     275            -0.028
12  Bob   Feb  Week 3     268            -0.053
14  Bob   Feb  Week 4     268            -0.053

In [99]:
# Pour determiner le gagnant de chaque mois seule la dernière semaine de chaque mois nous interresse:
week4 = weight_loss.query('Week == "Week 4"')
week4

   Name Month    Week  Weight  Perc Weight Loss
6   Bob   Jan  Week 4     283            -0.027
7   Amy   Jan  Week 4     190            -0.036
14  Bob   Feb  Week 4     268            -0.053
15  Amy   Feb  Week 4     173            -0.089
22  Bob   Mar  Week 4     261            -0.026
23  Amy   Mar  Week 4     170            -0.017
30  Bob   Apr  Week 4     250            -0.042
31  Amy   Apr  Week 4     161            -0.053

In [100]:
winner = week4.pivot(index='Month', columns='Name',
                     values='Perc Weight Loss')
winner

Name     Amy    Bob
Month
Apr   -0.053 -0.042
Feb   -0.089 -0.053
Jan   -0.036 -0.027
Mar   -0.017 -0.026

In [101]:
winner['Winner'] = np.where(winner['Amy'] < winner['Bob'],
                            'Amy', 'Bob')
winner.style.highlight_min(axis=1)

In [102]:
winner.Winner.value_counts()

Amy    3
Bob    1
Name: Winner, dtype: int64

### TM

In [103]:
week4

   Name Month    Week  Weight  Perc Weight Loss
6   Bob   Jan  Week 4     283            -0.027
7   Amy   Jan  Week 4     190            -0.036
14  Bob   Feb  Week 4     268            -0.053
15  Amy   Feb  Week 4     173            -0.089
22  Bob   Mar  Week 4     261            -0.026
23  Amy   Mar  Week 4     170            -0.017
30  Bob   Apr  Week 4     250            -0.042
31  Amy   Apr  Week 4     161            -0.053

In [104]:
week4a = week4.copy()

# We want a list or an array of the months in chronological order.
# As the Month column is already in chronological order, we can simply use the unique method,
# which preserves order to get the array that we desire.

month_chron = week4a['Month'].unique() # or use drop_duplicates
month_chron

array(['Jan', 'Feb', 'Mar', 'Apr'], dtype=object)

In [105]:
# To convert the Month column, we use the Categorical constructor.
# Then we pass it the original column as a Series and a unique sequence of all the categories in the
# desired order to the categories parameter.

week4a['Month'] = pd.Categorical(week4a['Month'],
                                 categories=month_chron,
                                 ordered=True)
week4a

   Name Month    Week  Weight  Perc Weight Loss
6   Bob   Jan  Week 4     283            -0.027
7   Amy   Jan  Week 4     190            -0.036
14  Bob   Feb  Week 4     268            -0.053
15  Amy   Feb  Week 4     173            -0.089
22  Bob   Mar  Week 4     261            -0.026
23  Amy   Mar  Week 4     170            -0.017
30  Bob   Apr  Week 4     250            -0.042
31  Amy   Apr  Week 4     161            -0.053

In [106]:
# In general, to sort columns of object data type
# by something other than alphabetical, convert them to categorical.

week4a.pivot(index='Month', columns='Name',
             values='Perc Weight Loss')

Name     Amy    Bob
Month
Jan   -0.036 -0.027
Feb   -0.089 -0.053
Mar   -0.017 -0.026
Apr   -0.053 -0.042

## Calculating weighted mean SAT scores per state with apply
#### In this recipe, we calculate the weighted average of both the math and verbal SAT scores per state from the college dataset. We weight the scores by the population of undergraduate students per school.

In [107]:
college = pd.read_csv('master/data/college.csv')
subset = ['UGDS', 'SATMTMID', 'SATVRMID'] # just a list of columns names

In [108]:
# We must use the dropna() subset parameter to limit the columns it looks at for missing values
# by passing a list of columns names:

college2 = college.dropna(subset=subset)

In [109]:
college.shape

(7535, 27)

In [110]:
college2.shape

(1184, 27)

In [111]:
print('Total dropped: ' + str(len(college) - len(college2)))
print('UGDS: ' + str(college['UGDS'].isna().sum()))
print('SATMTMID: ' + str(college['SATMTMID'].isna().sum()))
print('SATVRMID: ' + str(college['SATVRMID'].isna().sum()))

Total dropped: 6351
UGDS: 661
SATMTMID: 6339
SATVRMID: 6350

In [112]:
college2[['UGDS', 'SATMTMID', 'SATVRMID']].isna().sum()

UGDS        0
SATMTMID    0
SATVRMID    0
dtype: int64

In [113]:
# On appelle notre parametre de fonction df mais c'est en fait des groupes de groupby object
# qui lui seront ici passés

def weighted_math_average(df):
    weighted_math = df['UGDS'] * df['SATMTMID']
    return int(weighted_math.sum() / df['UGDS'].sum()) # Une seule valeur est retournée, la moyenne pondérée du groupe

In [114]:
# la fonction weighted_math_average est appliquée a chaque groupe et la valeur correpondante est mappée
# à l'index du groupe (cad a la grouping column qui est devenue index) dans une Series

# Nous constatons qu'ici nous n'avons pas d'aggregating column car les colonnes sur lesquels sont basés les
# calculs sont directement utilisées dans weighted_math_average

college2.groupby('STABBR').apply(weighted_math_average).head()

STABBR
AK    503
AL    536
AR    529
AZ    569
CA    564
dtype: int64

In [115]:
college2.groupby('STABBR').agg(weighted_math_average).head()

# The weighted_math_average function gets applied to each non-grouping column in the DataFrame,
# which is not really the desired result

,INSTNM,CITY,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
STABBR,,,,,,,,,,,,,,,,,,,,,,,,,,
AK,503,503,503,503,503,503,503,503,503,503,503,503,503,503,503,503,503,503,503,503,503,503,503,503,503,503
AL,536,536,536,536,536,536,536,536,536,536,536,536,536,536,536,536,536,536,536,536,536,536,536,536,536,536
AR,529,529,529,529,529,529,529,529,529,529,529,529,529,529,529,529,529,529,529,529,529,529,529,529,529,529
AZ,569,569,569,569,569,569,569,569,569,569,569,569,569,569,569,569,569,569,569,569,569,569,569,569,569,569
CA,564,564,564,564,564,564,564,564,564,564,564,564,564,564,564,564,564,564,564,564,564,564,564,564,564,564

In [116]:
# If we try to limit the columns to just SATMTMID, then the groupby method kind of
# drop the other columns before calculations. Hence we will get an error as we won't have access anymore to UGDS.
# So, the best way to complete operations that act on multiple columns is with apply, like we did before.

# college2.groupby('STABBR')['SATMTMID'] \
#         .agg(weighted_math_average).head()
# KeyError: 'UGDS'

In [117]:
from collections import OrderedDict
def weighted_average(df):
    
    data = OrderedDict()
    
    # A normal Python dictionary cannot be used to store the data since it does not preserve insertion order.
    
    weight_m = df['UGDS'] * df['SATMTMID']  # a Series
    weight_v = df['UGDS'] * df['SATVRMID']  # a Series
    
    wm_avg = weight_m.sum() / df['UGDS'].sum()  # a single scalar value
    wv_avg = weight_v.sum() / df['UGDS'].sum()  # a single scalar value
    
    data['weighted_math_avg'] = wm_avg
    data['weighted_verbal_avg'] = wv_avg
    data['math_avg'] = df['SATMTMID'].mean()
    data['verbal_avg'] = df['SATVRMID'].mean()
    data['count'] = len(df)
    
    # Ici ce n'est plus une seule valeur qui est finalement retournée (comme précédemment) mais une Series avec index
    
    return pd.Series(data, dtype='int')

In [118]:
# Recapitulons:
    
#     - Nous pouvons passer aux aggregating functions(agg, filter, transform, and apply) des fonction customisées
#     - Nous ne passons alors que le nom de la fonction sans ().
#     - Le parametre "manquant" sera en fait chaque groupe qui constitue le groupby object auquel
#       la fonction d'aggregation est appliquée

college2.groupby('STABBR').apply(weighted_average).head(10)

# Pour chaque groupe est donc indiqué toutes les données stockées dans le OrderedDict et les Keys sont devenues
# les colonnes d'un DF

        weighted_math_avg  weighted_verbal_avg  math_avg  verbal_avg  count
STABBR
AK                    503                  555       503         555      1
AL                    536                  533       504         508     21
AR                    529                  504       515         491     16
AZ                    569                  557       536         538      6
CA                    564                  539       562         549     72
CO                    553                  547       540         537     14
CT                    545                  533       522         517     14
DC                    621                  623       588         589      6
DE                    569                  553       495         486      3
FL                    565                  565       521         529     38

In [119]:
from scipy.stats import gmean, hmean
def calculate_means(df):
    df_means = pd.DataFrame(index=['Arithmetic', 'Weighted',
                                   'Geometric', 'Harmonic'])
    cols = ['SATMTMID', 'SATVRMID']
    for col in cols:
        arithmetic = df[col].mean()
        weighted = np.average(df[col], weights=df['UGDS'])
        geometric = gmean(df[col])
        harmonic = hmean(df[col])
        df_means[col] = [arithmetic, weighted,
                         geometric, harmonic]
        df_means['count'] = len(df)
        return df_means.astype(int)

In [120]:
college2.groupby('STABBR').apply(calculate_means).head(12)

                   SATMTMID  count
STABBR
AK     Arithmetic       503      1
       Weighted         503      1
       Geometric        503      1
       Harmonic         503      1
AL     Arithmetic       504     21
       Weighted         536     21
       Geometric        500     21
       Harmonic         497     21
AR     Arithmetic       515     16
       Weighted         529     16
       Geometric        514     16
       Harmonic         513     16

## Grouping by continuous variables
#### In this recipe, we explore the flights dataset to discover the distribution of airlines for different travel distances. This allows us, for example, to find the airline that makes the most flights between 500 and 1,000 miles. To accomplish this, we use the pandas cut function to discretize the distance of each flight flown.

In [121]:
flights = pd.read_csv('master/data/flights.csv')
flights.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0

In [122]:
bins = [-np.inf, 200, 500, 1000, 2000, np.inf]
cuts = pd.cut(flights['DIST'], bins=bins)
cuts.head()

0     (500.0, 1000.0]
1    (1000.0, 2000.0]
2     (500.0, 1000.0]
3    (1000.0, 2000.0]
4    (1000.0, 2000.0]
Name: DIST, dtype: category
Categories (5, interval[float64]): [(-inf, 200.0] < (200.0, 500.0] < (500.0, 1000.0] < (1000.0, 2000.0] < (2000.0, inf]]

In [123]:
# La fonction pandas cut retourne une Series dont les valeurs sont des objets CategoricalDtype

cuts.dtypes

CategoricalDtype(categories=[(-inf, 200.0], (200.0, 500.0], (500.0, 1000.0], (1000.0, 2000.0], (2000.0, inf]]
              ordered=True)

In [124]:
cuts.value_counts()

(500.0, 1000.0]     20659
(200.0, 500.0]      15874
(1000.0, 2000.0]    14186
(2000.0, inf]        4054
(-inf, 200.0]        3719
Name: DIST, dtype: int64

In [125]:
# Fin du chapitre UNCLEAR à revoir


# The cuts Series can now be used to form groups.
# We then call the value_counts method on the AIRLINE column to find the distribution for each distance group.

flights.groupby(cuts)['AIRLINE'].value_counts(normalize=True) \
                                .round(3)

# Very interestingly, pandas allows you to pass the groupby method any object
# as long as the passed Series (if a Series is passed) have the same lenght as the DF.
# This means that you are able to form groups from something completely unrelated to the current DataFrame.

DIST              AIRLINE
(-inf, 200.0]     OO         0.326
                  EV         0.289
                  MQ         0.211
                  DL         0.086
                  AA         0.052
                  UA         0.027
                  WN         0.009
(200.0, 500.0]    WN         0.194
                  DL         0.189
                  OO         0.159
                  EV         0.156
                  MQ         0.100
                  AA         0.071
                  UA         0.062
                  VX         0.028
                  US         0.016
                  NK         0.012
                  B6         0.007
                  F9         0.005
                  AS         0.001
(500.0, 1000.0]   DL         0.206
                  AA         0.144
                  WN         0.138
                  UA         0.131
                  OO         0.106
                  EV         0.101
                  MQ         0.051
                  F9         0.038
                  NK         0.030
                  US         0.025
                  AS         0.023
                  VX         0.004
                  B6         0.003
(1000.0, 2000.0]  AA         0.264
                  UA         0.199
                  DL         0.165
                  WN         0.160
                  OO         0.046
                  NK         0.045
                  US         0.040
                  F9         0.031
                  AS         0.016
                  EV         0.016
                  VX         0.012
                  B6         0.003
                  MQ         0.003
(2000.0, inf]     UA         0.289
                  AA         0.212
                  DL         0.171
                  B6         0.080
                  VX         0.074
                  US         0.065
                  WN         0.046
                  HA         0.028
                  NK         0.019
                  AS         0.012
                  F9         0.004
Name: AIRLINE, dtype: float64

In [126]:
flights.groupby(cuts)['AIR_TIME'].quantile(q=[.25, .5, .75]) \
                                 .div(60).round(2)

DIST
(-inf, 200.0]     0.25    0.43
                  0.50    0.50
                  0.75    0.57
(200.0, 500.0]    0.25    0.77
                  0.50    0.92
                  0.75    1.05
(500.0, 1000.0]   0.25    1.43
                  0.50    1.65
                  0.75    1.92
(1000.0, 2000.0]  0.25    2.50
                  0.50    2.93
                  0.75    3.40
(2000.0, inf]     0.25    4.30
                  0.50    4.70
                  0.75    5.03
Name: AIR_TIME, dtype: float64

In [127]:
labels = ['Under an Hour', '1 Hour', '1-2 Hour',
          '2-4 Hours', '4+ Hours']
cuts2 = pd.cut(flights['DIST'], bins=bins, labels=labels)
flights.groupby(cuts2)['AIRLINE'].value_counts(normalize=True) \
                                 .round(3) \
                                 .unstack() \
                                 .style.highlight_max(axis=1)

## Counting the total number of flights between cities
#### In this recipe, we count the total number of flights between two cities regardless of which one is the origin or destination. To accomplish this, we sort the origin and destination airports alphabetically so that each combination of airports always occurs in the same order. We can then use this new column arrangement to form groups and then to count.

In [128]:
flights = pd.read_csv('master/data/flights.csv')
flights_ct = flights.groupby(['ORG_AIR', 'DEST_AIR']).size()
flights_ct.head()

ORG_AIR  DEST_AIR
ATL      ABE         31
         ABQ         16
         ABY         19
         ACY          6
         AEX         40
dtype: int64

In [129]:
flights_ct.loc[[('ATL', 'IAH'), ('IAH', 'ATL')]]

ORG_AIR  DEST_AIR
ATL      IAH         121
IAH      ATL         148
dtype: int64

In [130]:
flights_sort = flights[['ORG_AIR', 'DEST_AIR']] \
                      .apply(sorted, axis=1)
flights_sort.head()

0    [LAX, SLC]
1    [DEN, IAD]
2    [DFW, VPS]
3    [DCA, DFW]
4    [LAX, MCI]
dtype: object

In [131]:
# Traffic pour pouvoir continuer
data_sorted_M = np.sort(flights[['ORG_AIR', 'DEST_AIR']])
flights_sort = pd.DataFrame(data_sorted_M, columns=['ORG_AIR', 'DEST_AIR'])
# fin du traffic

flights_sort.head()

  ORG_AIR DEST_AIR
0     LAX      SLC
1     DEN      IAD
2     DFW      VPS
3     DCA      DFW
4     LAX      MCI

In [132]:
rename_dict = {'ORG_AIR':'AIR1', 'DEST_AIR':'AIR2'}
flights_sort = flights_sort.rename(columns=rename_dict)
flights_ct2 = flights_sort.groupby(['AIR1', 'AIR2']).size()
flights_ct2.head()

AIR1  AIR2
ABE   ATL     31
      ORD     24
ABI   DFW     74
ABQ   ATL     16
      DEN     46
dtype: int64

In [133]:
flights_ct2.loc[('ATL', 'IAH')]

269

In [134]:
# flights_ct2.loc[('IAH', 'ATL')]
# IndexingError: Too many indexers

In [135]:
data_sorted = np.sort(flights[['ORG_AIR', 'DEST_AIR']])
data_sorted[:10]

array([['LAX', 'SLC'],
       ['DEN', 'IAD'],
       ['DFW', 'VPS'],
       ['DCA', 'DFW'],
       ['LAX', 'MCI'],
       ['IAH', 'SAN'],
       ['DFW', 'MSY'],
       ['PHX', 'SFO'],
       ['ORD', 'STL'],
       ['IAH', 'SJC']], dtype=object)

In [136]:
flights_sort2 = pd.DataFrame(data_sorted, columns=['AIR1', 'AIR2'])
fs_orig = flights_sort.rename(columns={'ORG_AIR':'AIR1',
                                       'DEST_AIR':'AIR2'})
flights_sort2.equals(fs_orig)

True

In [137]:
%%timeit
flights_sort = flights[['ORG_AIR', 'DEST_AIR']] \
                      .apply(sorted, axis=1)

3.23 s ± 48.8 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [138]:
%%timeit
data_sorted = np.sort(flights[['ORG_AIR', 'DEST_AIR']])
flights_sort2 = pd.DataFrame(data_sorted, columns=['AIR1', 'AIR2'])

11.2 ms ± 383 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

## Finding the longest streak of on-time flights
#### In this recipe, we find the longest consecutive streak of on-time flights for each airline at each origin airport. This requires each value in a column to be aware of the value immediately following it. We make clever use of the diff and cumsum methods in order to find streaks before applying this methodology to each of the groups.

In [139]:
s = pd.Series([0, 1, 1, 0, 1, 1, 1, 0])
s

0    0
1    1
2    1
3    0
4    1
5    1
6    1
7    0
dtype: int64

In [140]:
s1 = s.cumsum()
s1

0    0
1    1
2    2
3    2
4    3
5    4
6    5
7    5
dtype: int64

In [141]:
s.mul(s1)

0    0
1    1
2    2
3    0
4    3
5    4
6    5
7    0
dtype: int64

In [142]:
s.mul(s1).diff()

0    NaN
1    1.0
2    1.0
3   -2.0
4    3.0
5    1.0
6    1.0
7   -5.0
dtype: float64

In [143]:
s.mul(s1).diff().where(lambda x: x < 0)

0    NaN
1    NaN
2    NaN
3   -2.0
4    NaN
5    NaN
6    NaN
7   -5.0
dtype: float64

In [144]:
s.mul(s1).diff().where(lambda x: x < 0).ffill() \
 .add(s1, fill_value=0)

0    0.0
1    1.0
2    2.0
3    0.0
4    1.0
5    2.0
6    3.0
7    0.0
dtype: float64

In [145]:
flights = pd.read_csv('master/data/flights.csv')
flights['ON_TIME'] = flights['ARR_DELAY'].lt(15).astype(int)
flights[['AIRLINE', 'ORG_AIR']].head(10)

  AIRLINE ORG_AIR
0      WN     LAX
1      UA     DEN
2      MQ     DFW
3      AA     DFW
4      WN     LAX
5      UA     IAH
6      AA     DFW
7      F9     SFO
8      AA     ORD
9      UA     IAH

In [146]:
def max_streak(s):
    s1 = s.cumsum()
    return s.mul(s1).diff().where(lambda x: x < 0) \
            .ffill().add(s1, fill_value=0).max()

In [147]:
flights.sort_values(['MONTH', 'DAY', 'SCHED_DEP']) \
       .groupby(['AIRLINE', 'ORG_AIR'])['ON_TIME'] \
       .agg(['mean', 'size', max_streak]).round(2).head()

                 mean  size  max_streak
AIRLINE ORG_AIR
AA      ATL      0.82   233          15
        DEN      0.74   219          17
        DFW      0.78  4006          64
        IAH      0.80   196          24
        LAS      0.79   374          29

In [148]:
def max_delay_streak(df):
    df = df.reset_index(drop=True)
    s = 1-df['ON_TIME']
    s1 = s.cumsum()
    streak = s.mul(s1).diff().where(lambda x: x < 0) \
              .ffill().add(s1, fill_value=0)
    last_idx = streak.idxmax()
    first_idx = last_idx - streak.max() + 1
    df_return = df.loc[[first_idx, last_idx], ['MONTH', 'DAY']]
    df_return['streak'] = streak.max()
    df_return.index = ['first', 'last']
    df_return.index.name='type'
    return df_return

In [149]:
flights.sort_values(['MONTH', 'DAY', 'SCHED_DEP']) \
       .groupby(['AIRLINE', 'ORG_AIR']) \
       .apply(max_delay_streak) \
       .sort_values('streak', ascending=False).head(10)

C:\Users\John\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  if __name__ == '__main__':

                       MONTH   DAY  streak
AIRLINE ORG_AIR type
AA      DFW     first    2.0  26.0    38.0
                last     3.0   1.0    38.0
MQ      ORD     last     1.0  12.0    28.0
                first    1.0   6.0    28.0
        DFW     last     2.0  26.0    25.0
                first    2.0  21.0    25.0
NK      ORD     first    6.0   7.0    15.0
                last     6.0  18.0    15.0
DL      ATL     last    12.0  24.0    14.0
                first   12.0  23.0    14.0